.page-wrapper {
  position: relative;
  @include media("≥widescreen") {
    top: auto !important;
  }
}

#wrapper {
  position: relative;
}

.container {
  max-width: 1440px;
  margin: 0 auto;
  padding: 0 calc(#{$grid-gutter-width} / 2);
}

ins {
  color: $base-sale-price;
  text-decoration: none;
}

.breadcrumbs {

  li:not(:last-child) {
    margin: 0 8px 0 0;
    &::after {
      content: "/";
      display: inline-block;
      vertical-align: middle;
      margin: -2px 0 0 6px;
      color: $base-body-text;
    }
  }

  a {
    text-decoration: none;
    &:hover {
      color: $base-secondary-text;
    }
  }
}

.bg-stretch {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-position: 50% 50%;
  background-size: cover;

  img {
    display: block;
    width: 100%;
    height: auto;
  }
}

.fluid-iframe {
  position: relative;
  height: 0;
  padding-top: 56.25%;

  iframe {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    width: 100%;
    height: 100%;
    margin: 0;
    border: none;
  }
}

.image-container {
  position: relative;
  z-index: 1;
  display: block;
  width: 100%;
  padding: 100% 0 0;
  overflow: hidden;

  img,
  svg {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}

.social-networks {

  ul {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    @include media("≥widescreen") {
      justify-content: space-around;
    }
  }

  li {
    margin: 0 21px 15px;
    @include media("≥desktop") {
      margin: 0 14px 15px;
    }
    @include media("≥laptop") {
      margin: 0 15px 15px;
    }
  }

  a {
    display: flex;
    align-items: center;
    justify-content: center;

    &:hover {

      svg {
        fill: $base-accent;
      }
    }
  }

  svg {
    fill: $base-border;
  }
}

.social-sharing {
  display: flex;
  align-items: center;
  margin: 0 0 24px;
  &:last-child {
    margin: 0 0 -16px;
  }

  li {
    margin: 0 16px 16px 0;
  }

  a {
    display: flex;
    align-items: center;
    justify-content: center;
    color: $base-body-text;
    text-decoration: none;
  }

  .icon {
    margin-right: 12px;
  }
}

.section {
  padding: 40px 0;
  &.section--without-padding {
    padding: 0;
  }
  &.section--without-padding-top {
    padding-top: 0;
  }
  &.section--without-padding-bottom {
    padding-bottom: 0;
  }
}

.section__title-block {

  > * {
    &:last-child {
      margin-bottom: 0;
    }
  }
}

// Default page shopify styles
.shopify-policy__body,
.rte {

  ul {
    margin: 0 0 15px;
    padding: 0;
    list-style: none;
    @include media("≥tablet") {
      margin: 0 0 20px;
    }
    &:last-child {
      margin: 0;
    }

    > li {
      position: relative;
      padding: 0 0 0 12px;
      &::before {
        content: "";
        position: absolute;
        top: 9px;
        left: 0;
        width: 6px;
        height: 6px;
        background: $base-body-text;
        border-radius: 100%;
      }
    }
  }

  ol {
    margin: 0 0 15px;
    padding: 0;
    list-style-type: none;
    @include media("≥tablet") {
      margin: 0 0 20px;
    }
    &:last-child {
      margin: 0;
    }

    > li {
      counter-increment: step-counter;
      &::before {
        content: counter(step-counter) ".";
        margin-right: 5px;
      }
      &:last-child {
        margin-bottom: 0;
      }
    }

    ol {
      padding-left: 20px;
    }

    ul {
      padding-left: 25px;
    }
  }

  dl {
    display: flex;
    flex-wrap: wrap;
    margin: 0;

    > dt {
      width: 50%;
    }

    > dd {
      width: 50%;
      margin: 0 0 10px;
      text-align: right;
    }

    > div {
      &:last-child {
        margin-bottom: 0;
      }
    }
  }

  address {
    font-style: normal;
    @include media("≥tablet") {
      line-height: 1.72;
    }
    @include media("≥widescreen") {
      line-height: 1.9;
    }

    p {
      &:last-child {
        margin-bottom: 0;
      }
    }
  }

  .table-holder {
    width: 100%;
    overflow-x: auto;
    overflow-y: hidden;
  }

  table {
    border: 1px solid #dcdcdc;
    border-collapse: collapse;

    th {
      font-family: $headings-font-family;
      background: #f9f9f9;
    }

    th,
    td {
      vertical-align: top;
      padding: 10px 7px;
      border: 1px solid #dcdcdc;
    }
  }

  blockquote {
    margin: 0 0 15px;
    padding: 0 0 0 25px;
    border-left: 2px solid $base-border;

    @include media("≥tablet") {
      margin: 0 0 25px;
    }
    @include media("≥widescreen") {
      margin: 0 0 30px;
    }
  }

  p {
    &:last-child {
      margin-bottom: 0;
    }

    + h2,
    + h3,
    + h4,
    + h5,
    + h6 {
      padding-top: 16px;
      @include media("≥widescreen") {
        padding-top: 24px;
      }
    }
  }

  img {
    width: auto;
    margin-bottom: 16px;
    @include media("≥widescreen") {
      margin-bottom: 32px;
      padding-top: 16px;
    }
  }
}

.page-title-block {
  padding: 20px 0 10px;
  @include media("≥desktop") {
    padding: 28px 0 18px;
  }

  h1,
  .h1,
  h2,
  .h2,
  .h {
    margin-bottom: 10px;
  }

  p {
    margin-bottom: 10px;
  }

  > * {
    &:last-child {
      margin-bottom: 0;
    }
  }
}

.pagination {

  li {
    width: 44px;
    height: 44px;
    &.disabled {
      outline: none;
      pointer-events: none;
    }
    &.active {

      span {
        box-shadow: inset 0 -1px $base-body-text;
      }
    }

    > * {
      display: flex;
      align-items: center;
      justify-content: center;
      height: 100%;
    }

    span {
      display: inline-block;
      padding: 0 8px;
    }
  }

  a {
    text-decoration: none;
  }
}

.pagination__prev,
.pagination__next {
  position: relative;
  &::after {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    width: 9px;
    height: 9px;
    border-width: 0 0 2px 2px;
    border-style: solid;
    border-color: $base-icons;
    transform: translate(-50%, -50%) rotate(45deg);
  }
}

.pagination__next {
  &::after {
    transform: translate(-50%, -50%) rotate(225deg);
  }
}

// Start Accordion styles

.accordion {

  > li {
    width: 100%;
  }
}

.accordion__slide {
  display: none;

  .open & {
    display: block;
  }
}

.accordion__opener {
  position: relative;
  display: block;
  padding: 12px 14px 11px;
  color: $base-body-text;
  text-align: left;
  text-decoration: none;
  background: $base-background;
  border: 1px solid $base-background;
  @include media ("≥widescreen") {
    padding: 8px 14px 7px;
  }
  &::before,
  &::after {
    content: "";
    position: absolute;
    top: 50%;
    background: $black;
    transition: opacity $animation-speed ease-in-out;
    transform: translate(-50%, -50%);
  }
  &::before {
    right: 7px;
    width: 12px;
    height: 2px;
  }
  &::after {
    right: 17px;
    width: 2px;
    height: 12px;

    .open > & {
      opacity: 0;
    }
  }
  &:hover {
    background: #e5e5e5;
  }
  &:focus {
    border-color: $black;
  }
}

.accordion__block {
  padding: 15px;
  background: $base-body-background;
  box-shadow: 0 5px 13px rgba(0, 0, 0, 0.04);
}

// End Accordion styles

.spinner-holder {
  margin: -90px 0 0;
  padding: 36px 0 26px;
  overflow: hidden;
  @include media ("≥tablet") {
    margin: -25px 0 0;
    padding: 80px 0 32px;
  }
}

.spinner {
  width: 34px;
  height: 34px;
  margin: 0 auto;
  border: 3px solid #dadada;
  border-top-color: #333;
  border-radius: 100%;
  animation: spinner 1s linear infinite;
  @include media ("≥tablet") {
    width: 44px;
    height: 44px;
  }
}

@keyframes spinner {
  to {
    transform: rotate(360deg);
  }
}

.button-spinner {
  position: relative;
  &::before,
  &::after {
    content: "";
    position: absolute;
  }
  &::before {
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: $primary-button-background;
  }
  &::after {
    top: 50%;
    left: 50%;
    width: 24px;
    height: 24px;
    border: 3px solid #dadada;
    border-top-color: #333;
    border-radius: 100%;
    transform: translate(-50%, -50%);
    animation: spinner-alt 1s linear infinite;
  }
}

@keyframes spinner-alt {
  from {
    transform: translate(-50%, -50%) rotate(0deg);
  }
  to {
    transform: translate(-50%, -50%) rotate(360deg);
  }
}

.placeholder-svg {
  width: 100%;
  height: inherit;
  background: #c4c4c4;
  fill: #fff;
}

img[data-sizes="auto"] {
  display: block;
  width: 100%;
}

.shopify-app-block {
  max-width: 1360px;
  margin: 0 auto;
  padding: 0 calc(#{$grid-gutter-width} / 2);

  .spr-starrating {

    .spr-star {
      display: inline-block;
      vertical-align: inherit;
    }
  }
}

.model-viewer-block {
  position: relative;
  padding-top: 100%;

  product-model {
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    width: 100%;
    height: 100%;
  }

  model-viewer {
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    width: 100%;
    max-width: 100%;
    height: 100%;
  }

  .deferred-media__poster {
    display: block;
    width: 100%;
  }
}

.btn-closer {
  position: relative;
  display: inline-block;
  min-width: 44px;
  min-height: 44px;
  &::before,
  &::after {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    width: 57%;
    height: 2px;
    background: currentColor;
    transform: translate(-50%, -50%) rotate(-45deg);
  }
  &::after {
    transform: translate(-50%, -50%) rotate(45deg);
  }
}

.deferred-media {
  display: block;
  overflow: hidden;
  &:not([loaded]) {

    template {
      z-index: -1;
    }
  }
  &[loaded] {

    .deferred-media__poster {
      opacity: 0;
    }
  }
  &.product-gallery__img {

    .deferred-media__poster {
      position: absolute;
      top: 0;
      left: 0;
      height: 100%;
    }
  }
}

.deferred-media__poster {
  width: 100%;
  transition: opacity $animation-speed ease-in-out;
}

.deferred-media__poster-button {
  position: absolute;
  top: 50%;
  left: 50%;
  z-index: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 62px;
  height: 62px;
  color: $base-body-text;
  background: $base-body-background;
  border: 0.1rem solid $base-body-background;
  border-radius: 50%;
  transition: transform $animation-speed ease-in-out;
  transform: translate(-50%, -50%);
  &:hover {
    transform: translate(-50%, -50%) scale(1.1);
  }

  .icon {
    width: 24px;
    height: 24px;
  }

  .icon-play {
    margin-left: 0.2rem;
  }

  .icon-success {
    color: $messages-success;
  }
}

.popup-holder {
  height: 0;
  overflow: hidden;
}

// Important CSS for details-utils
details-utils:not(:defined) [data-du-close-click] {
  display: none;
}

/* stylelint-disable-next-line max-line-length */
// The scroll-margin-top property lets you define a top margin that the browser should use when snapping a scrolled element into place.
* {
  scroll-margin-top: var(--header-sticky-height);
}

// Shopify Preview bar iframe styles
#preview-bar-iframe {
  width: calc(100% + 15px) !important;
  border-right: 15px solid #5c6ac4 !important;
  transition-delay: 5s !important;
  transform: translate3d(calc(-100% + 15px), 0, 0) !important;
  &:hover {
    transition-delay: 0s !important;
    transform: translate3d(0, 0, 0) !important;
  }
  & + #preview-bar-iframe {
    display: none;
  }
}
