.page-wrapper {
  position: relative;
  @include media ("≥widescreen") {
    top: auto !important;
  }
}

.row {
  @include media("≤767px") {
    margin-left: -10px;
    margin-right: -10px;
  }

  > .col,
  > [class*="col-"] {
    @include media("≤767px") {
      padding-left: 10px;
      padding-right: 10px;
    }
  }
}

#wrapper {
  position: relative;
}

.accessibility {
  position: absolute;
  left: -100000px;
  top: auto;
  width: 1px;
  height: 1px;
  overflow: hidden;

  &:focus {
    position: static;
    width: auto;
    height: auto;
  }
}

.visually-hidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
  white-space: nowrap;
}

.container {
  max-width: 1360px;
  margin: 0 auto;
  padding: 0 15px;

  @include media("≥desktop") {
    padding: 0 30px;
  }
}

.text-white {
  color: #fff;
}

.breadcrumbs {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 20px 0 0;
  list-style: none;
  font-size: $font-size-base - 2px;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  @include media ("≥desktop") {
    padding: 30px 0 0;
  }

  li:not(:last-child) {
    margin: 0 5px 0 0;

    &::after {
      content: "/";
      display: inline-block;
      vertical-align: middle;
      margin: -4px 0 0 4px;
    }
  }

  a {
    color: $base-secondary-text;
    text-decoration: none;

    &:hover {
      color: $base-text-color;
    }
  }
}

.bg-stretch {
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  background-position: 50% 50%;
  background-size: cover;

  img {
    display: block;
    width: 100%;
    height: auto;
  }
}

.fluid-iframe {
  position: relative;
  height: 0;
  padding-top: 56.25%;

  iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    margin: 0;
    border: none;
    z-index: 1;
  }
}

.image-container {
  position: relative;
  display: block;
  width: 100%;
  padding: 100% 0 0;
  z-index: 1;
  overflow: hidden;

  img {
    position: absolute;
    left: 50%;
    top: 50%;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    transform: translate(-50%, -50%);
    object-fit: cover;
  }
}

.social-networks {

  ul {
    @extend %listreset;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;

    @include media("≥widescreen") {
      justify-content: space-around;
    }
  }

  li {
    margin: 0 21px 15px;

    @include media("≥desktop") {
      margin: 0 14px 15px;
    }

    @include media("≥laptop") {
      margin: 0 15px 15px;
    }
  }

  a {
    display: flex;
    align-items: center;
    justify-content: center;

    &:hover {

      svg {
        fill: $blue;
      }
    }
  }

  svg {
    fill: $base-border;
  }
}

.social-sharing {
  margin: 0 0 -15px;
  padding: 0;
  list-style: none;
  font-size: $font-size-base - 2px;
  line-height: 1px;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  overflow: hidden;

  li {
    display: inline-flex;
    align-items: center;
    margin: 0 15px 15px 0;
  }

  a {
    display: inline-flex;
    align-items: center;
    text-decoration: none;
  }

  .icon {
    margin-right: 9px;
  }
}

[id="main"] {
  overflow: hidden;
}

.section {
  padding: 64px 0;

  @include media("≥widescreen") {
    padding: 74px 0;
  }

  &.page-section {
    padding-top: 20px;
    @include media("≥desktop") {
      padding-top: 30px;
    }
  }
}

// Default page shopify styles
.shopify-policy__body,
.rte {

  ul {
    padding-left: 20px;
    margin: 0 0 15px;

    @include media("≥tablet") {
      margin: 0 0 25px;
    }

    @include media("≥widescreen") {
      margin: 0 0 30px;
    }

    &:last-child {
      margin: 0;
    }
  }

  ol {
    margin: 0 0 15px;
    padding: 0;
    list-style-type: none;

    @include media("≥tablet") {
      margin: 0 0 25px;
    }

    @include media("≥widescreen") {
      margin: 0 0 30px;
    }

    &:last-child {
      margin: 0;
    }

    > li {
      counter-increment: step-counter;

      &::before {
        content: counter(step-counter) ".";
        margin-right: 5px;
      }

      &:last-child {
        margin-bottom: 0;
      }
    }

    ol {
      padding-left: 20px;
    }

    ul {
      padding-left: 35px;
    }
  }

  dl {
    margin: 0;

    dt {
      font-family: $headings-font-family;
      font-weight: 700;
    }

    dd {
      margin: 0 0 14px;

      @include media("≥widescreen") {
        margin: 0 0 18px;
      }
    }
  }

  address {
    font-style: normal;

    @include media("≥tablet") {
      line-height: 1.72;
    }

    @include media("≥widescreen") {
      line-height: 1.9;
    }

    p {
      &:last-child {
        margin-bottom: 0;
      }
    }
  }

  table {
    border: 1px solid #dcdcdc;
    border-collapse: collapse;

    th {
      font-family: $headings-font-family;
      background: #f9f9f9;
    }

    th,
    td {
      padding: 10px 7px;
      vertical-align: top;
      border: 1px solid #dcdcdc;
    }
  }

  blockquote {
    margin: 0 0 15px;
    padding: 0 0 0 25px;
    border-left: 2px solid $base-border;

    @include media("≥tablet") {
      margin: 0 0 25px;
    }

    @include media("≥widescreen") {
      margin: 0 0 30px;
    }
  }

  p {
    &:last-child {
      margin-bottom: 0;
    }
  }
}

.page-title-block {
  margin: 0 0 20px;
  @include media("≥desktop") {
    margin: 0 0 30px;
  }

  h1,
  .h1,
  .h {
    &:only-child {
      margin-bottom: 0;
    }
  }

  p {
    &:last-child {
      margin-bottom: 0;
    }
  }
}

.pagination {

  > * {
    margin: 0 24px 0 0;
    &:last-child {
      margin: 0;
    }
  }

  .next,
  .prev {
    position: relative;
    display: block;
    width: 70px;
    height: 48px;
    border: 1px solid $base-border;
    &::before,
    &::after {
      content: "";
      position: absolute;
    }
    &::before {
      left: 50%;
      top: 50%;
      width: 8px;
      height: 8px;
      margin: 0 0 0 -2px;
      border-style: solid;
      border-width: 0 0 2px 2px;
      border-color: #212b36;
      transform: translate(-50%, -50%) rotate(45deg);
    }
    &::after {
      top: 50%;
      right: 26px;
      width: 14px;
      height: 2px;
      background: #212b36;
      transform: translate(0, -50%);
    }
    &.disabled {
      border-color: $button-border-on-disabled;
      pointer-events: none;
      &::before {
        border-color: $button-border-on-disabled;
      }
      &::after {
        background: $button-background-on-disabled;
      }
    }
  }

  .next {
    &::before {
      margin: 0 0 0 4px;
      transform: translate(-50%, -50%) rotate(-135deg);
    }
  }

  .page {
    font-size: $font-size-base;
    line-height: 1.5;
  }
}

.spinner-holder {
  margin: -90px 0 0;
  padding: 36px 0 26px;
  overflow: hidden;
  @include media ("≥tablet") {
    margin: -25px 0 0;
    padding: 80px 0 32px;
  }
}

.spinner {
  margin: 0 auto;
  width: 34px;
  height: 34px;
  border: 3px solid #dadada;
  border-radius: 100%;
  border-top-color: #333;
  animation: spinner 1s linear infinite;
  @include media ("≥tablet") {
    width: 44px;
    height: 44px;
  }
}

@keyframes spinner {
  to {
    transform: rotate(360deg);
  }
}

.button-spinner {
  position: relative;
  &::before,
  &::after {
    content: "";
    position: absolute;
  }
  &::before {
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: $button-background;
  }
  &::after {
    top: 50%;
    left: 50%;
    width: 24px;
    height: 24px;
    border: 3px solid #dadada;
    border-radius: 100%;
    border-top-color: #333;
    animation: spinner-alt 1s linear infinite;
    transform: translate(-50%, -50%);
  }
}

@keyframes spinner-alt {
  from {
    transform: translate(-50%, -50%) rotate(0deg);
  }
  to {
    transform: translate(-50%, -50%) rotate(360deg);
  }
}

.placeholder-svg {
  width: 100%;
  height: inherit;
  fill: #fff;
  background: #c4c4c4;
}

img[data-sizes="auto"] {
  display: block;
  width: 100%;
}

// Lazy-load styles
.lazyload,
.lazyloading {
  opacity: 0;
}

.loading,
.lazyload,
.lazyloaded,
.image {
  opacity: 1;
  transition: 2s cubic-bezier(0.215, 0.61, 0.355, 1);
}

// Shopify Preview bar iframe styles
#preview-bar-iframe {
  border-right: 15px solid #5c6ac4 !important;
  transform: translate3d(calc(-100% + 15px), 0, 0) !important;
  transition-delay: 5s !important;
  width: calc(100% + 15px) !important;

  &:hover {
    transform: translate3d(0, 0, 0) !important;
    transition-delay: 0s !important;
  }

  & + #preview-bar-iframe {
    display: none;
  }
}
