.template-password {
  overflow: hidden;

  [id="main-password"] {
    height: 100%;
  }
}

.password-section {
  padding: 0 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100vh;

  p {

    a {
      color: $black;
      &:hover {
        text-decoration: none;
      }
    }
  }
}

.password-section__holder {
  width: 100%;
  max-width: 420px;
  margin: 0 auto;
  text-align: center;

  > p {
    &:last-child {
      margin-bottom: 0;
    }
  }
}

.storefront-password-form {
  margin: 0 0 20px;
  @include media("≥tablet") {
    margin: 0 0 30px;
  }

  input[type="text"],
  input[type="password"] {
    background: none;
  }

  .button {
    width: 100%;
    height: $height-form-elements;
    margin-top: 15px;
    @include media("≥tablet") {
      flex-shrink: 0;
      width: 140px;
      margin-top: 0;
      margin-left: 15px;
    }
  }
}

.password-section__logo {
  max-width: 200px;
  margin: 0 auto 10px;
  text-align: center;
}
