.cart-popup {
  position: fixed;
  top: 0;
  z-index: 10002;
  width: 100%;
  font-size: $font-size-base - 2px;
  background: $base-body-background;
  box-shadow: 0 14px 38px rgba(0, 0, 0, 0.06);
  transition: transform $animation-speed ease;
  transform: translateY(-150%);
  @include media("≥tablet") {
    right: 0;
    width: 345px;
  }
  &.active {
    transform: translateY(0);
  }
}

.cart-popup__header {
  border-bottom: 1px solid $base-border;
}

.cart-popup__heading {
  padding: 10px 15px;
}

button.cart-popup__close {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 44px;
  height: 44px;
  &:hover {

    .icon {
      color: $base-accent;
    }
  }

  .icon {
    fill: currentColor;
  }
}

.cart-popup__holder {
  padding: 0 15px 10px;
}

.cart-popup__img {
  width: 64px;
  @include media("≥tablet") {
    width: 90px;
  }
}

.cart-popup__item {

  p {
    margin: 0 0 8px;
    &:last-child {
      margin: 0;
    }
  }
}
