.filter-main-open-close {
  position: relative;
}

.filter__main-btn-holder {
  padding: 0 15px 0 0;
  border: 1px solid $base-border;
  @include media ("≥desktop") {
    padding: 0;
    border: none;
  }
}

.filter-main-open-close__btn-opener {
  min-width: 44px;
  min-height: 44px;
  padding: 10px 15px;
}

.filter-main-open-close__btn-opener-icon {
  flex-shrink: 0;
  width: 24px;
  height: 24px;
}

.filter-main-open-close__slide-btn-holder {
  border-bottom: 1px solid $base-border;
}

.filter-main-open-close__closer {
  min-width: 44px;
  min-height: 44px;
  padding: 9px 14px;

  .btn-closer {
    min-width: 26px;
    min-height: 26px;
  }
}

.filter-main-open-close__overlay {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 101;
  width: 100%;
  height: 100%;
  background: $black;
  opacity: 0;
  pointer-events: none;
  transition: opacity $animation-speed ease-in-out;

  .filter-main-open-close--active & {
    opacity: 0.6;
    pointer-events: auto;
  }
}

.filter-main-open-close__slide {
  position: fixed;
  top: 0;
  right: 0;
  left: 45px !important;
  z-index: 102;
  display: block !important;
  height: 100%;
  background: $base-body-background;
  transition: transform $animation-speed ease-in-out;
  transform: translateX(100vw);
  @include media ("≤1023px") {
    display: flex !important;
    flex-direction: column;
  }
  @include media ("≥desktop") {
    position: static;
    z-index: 1;
    display: block !important;
    height: auto;
    background: none;
    transition: none;
    transform: none;
  }
  &.js-slide-hidden {
    @include media ("≤1023px") {
      position: fixed !important;
      top: 0 !important;
      left: 45px !important;
      display: block !important;
    }
  }

  .filter-main-open-close--active & {
    transform: translateX(0);
  }
}

.filter-main-open-close__holder {
  height: 100%;
  overflow-x: hidden;
  overflow-y: auto;
}

.filter__btn-reset {
  min-width: 90px;
  min-height: 44px;
}

.filter-selected-element-list {
  margin: 0 -15px 0 0;
}

.filter-selected-element-list__item {
  border: 1px solid $base-border;

  .btn-closer {
    min-width: 24px;
    min-height: 24px;
  }
}

.filter-collapse {
  border-width: 1px 0;
  border-style: solid;
  border-color: $base-border;
  +.filter-collapse {
    margin-top: -1px;
  }
}

.filter-collapse__item {

  summary {
    cursor: pointer;
  }
}

.filter-collapse__btn {
  position: relative;
  display: inline-block;
  width: 24px;
  height: 24px;
  &::before,
  &::after {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    width: 64%;
    height: 2px;
    background: currentColor;
    transition: transform $animation-speed ease-in-out;
    transform: translate(-50%, -50%);
  }
  &::after {
    transform: translate(-50%, -50%) rotate(90deg);
    .filter-collapse__item[open] & {
      transform: translate(-50%, -50%) rotate(180deg);
    }
  }
}

.filter-collapse__btn-more-content {

  .filter-collapse__less {
    display: none;
  }

  &.active {

    .filter-collapse__more {
      display: none;
    }

    .filter-collapse__less {
      display: block;
    }
  }
}
