[id="shopify-section-footer"] {
  overflow: hidden;
}

[id="footer"] {
  background: $base-footer-background;

  a {
    text-decoration: none;
    &:hover {
      text-decoration: underline;
    }
  }

  p {
    &:last-child {
      margin: 0;
    }
  }
}

.footer__logo {
  display: inline-block;
  vertical-align: top;

  img {
    width: 116px;
  }
}

.footer__form {

  .footer__form__input {
    padding-right: 55px;
  }

  .footer__form__button {
    position: absolute;
    top: 1px;
    right: 1px;
    bottom: 1px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 48px;
    min-width: auto;
    min-height: auto;
    padding: 0;
    background: none;
    border: none;
    border-radius: 0;
    &:hover,
    &:focus {
      background: $primary-button-background;

      svg {
        fill: $white;
      }
    }

    svg {
      width: 16px;
      height: 12px;
      fill: $base-icons;
    }
  }
}

.footer__panel {
  border-top: 1px solid $base-border;

  a {
    color: inherit;
  }
}

.footer__selectors {

  .footer__selectors-item {
    max-width: 285px;
    @include media ("≥tablet") {
      max-width: 210px;
    }
  }
}
