.header__bar {
  background: $color-body;
  a {
    color: inherit;
  }
}

.header__bar-list {
  @extend %listreset;

  li {
    margin: 0 10px;
  }
}

.header__panel {
  z-index: 100;
  padding: 20px 0;
  background: $l-gray;
  @include media ("≥widescreen") {
    position: relative;
    padding: 0;
  }
  .fixed-position & {
    z-index:100;
    @include media ("≥widescreen") {
      z-index:10001;
    }
  }
  &.header__panel-shadow {
    box-shadow: 0 6px 12px 0 rgba(0, 0 ,0, 0.09);
  }

  .row {

    > .col,
    > [class*="col-"] {
      position: static;
    }
  }
}

.header__panel-mobile {
  padding: 20px 0;
  background: $l-gray;
}

.logo {
  padding: 0 10px;
  max-width:106px;
  height:auto;
  margin:0 auto;
  .justify-content-start & {
    margin: 0;
  }

  a {
    display:block;
    height:100%;
  }

  img {
    display:block;
    width:100%;
  }
}

.logo-text {

  a {
    text-decoration: none;
  }
}

.menu-active {

  .menu__drop {
    transform:translateX(0);
  }

  .menu__btn-opener {
    &:after,
    &:before {
      transform:rotate(45deg);
      top:50%;
      left:25%;
      right:25%;
    }
    &:after {
      transform:rotate(-45deg);
    }

    span {
      opacity: 0;
    }
  }
}

.menu__drop {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: $color-body;
  z-index:1000;
  @include media("≤1199px"){
    overflow-y:auto;
    overflow-x:hidden;
    transform:translateX(-100%);
  }
  @include media("≥widescreen") {
    position:static;
    height:auto;
    padding: 0;
    transform:none;
    border-top:none;
    background: none;
  }
}

.menu__btn-opener {
  display:block;
  position:relative;
  width:40px;
  height:40px;
  font-size:0;
  line-height:0;
  &:before,
  &:after,
  & span {
    position:absolute;
    top:50%;
    left:20%;
    right:20%;
    height:2px;
    transition:all $animation-speed ease;
    background:$color-body-text;
    border-radius: 2px;
  }
  &:before,
  &:after {
    content:'';
    top:30%;
  }
  &:after {
    top:70%;
  }
}

.main-menu {
  margin: 0;
  padding: 10px 0;
  list-style: none;
  font-size: calc(#{$font-size-base} - 2px);
  line-height: 1.28;
  letter-spacing: 0.05em;
  @include media ("≥widescreen") {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    padding: 0;
  }

  .justify-content-center & {
    @include media ("≥widescreen") {
      justify-content: center;
    }
  }

  > li {
    @include media ("≥desktop") {
      margin: 0 25px 15px 0;
    }
    @include media ("≥widescreen") {
      margin: 0;
      padding: 28px 30px 28px 0;
    }
    .justify-content-center & {
      @include media ("≥widescreen") {
        padding: 28px 15px;
      }
    }
    &.active {
      &.has-drop {

        > a {
          &:after {
            transform: rotate(135deg);
          }
        }
      }

      > a {
        text-decoration: underline;
      }
    }
    &.has-drop {
      &:hover {

        > a {
          @include media ("≥widescreen") {
            color: $color-accent;
          }
        }
      }

      > a {
        position: relative;
        &:after {
          content: '';
          position: absolute;
          top:50%;
          right:12px;
          width:10px;
          height:10px;
          margin-top:-7px;
          border-style:solid;
          border-width:0 0 1px 1px;
          border-color: $color-body-text;
          transform: rotate(-45deg);
          @include media ("≥widescreen") {
            display: none;
          }
        }
      }
    }
    &:hover {

      .menu-accordion__slide {
        @include media ("≥widescreen") {
          opacity:1;
          height:auto;
          pointer-events: auto;
        }
      }
    }

    a {
      display: block;
      padding: 16px 25px;
      text-decoration: none;
      @include media ("≥widescreen") {
        display: inline-block;
        padding: 0;
      }
      &:hover {
        color: $color-accent;
      }
    }
  }

  a {
    color: $color-body-text;
  }

  ul {
    margin: 0 0 10px;
    padding: 0;
    list-style: none;
    @include media ("≥widescreen") {
      margin:0 0 20px;
      padding: 0;
      font-weight:300;
    }

    li {
      @include media ("≥widescreen") {
        margin: 0 0 15px;
      }
      &.active {

        > a {
          color:$color-accent;
        }
      }
    }

    a {
      &:hover {
        @include media ("≥widescreen") {
          color:$color-accent;
          text-decoration:none;
        }
      }
    }
  }

  .h {
    padding: 15px 25px 0 25px;
    @include media ("≥widescreen") {
      padding: 0;
    }
  }
}

.menu-accordion__slide {
  @include media ("≥widescreen") {
    position: absolute;
    left:0;
    top:100%;
    width:100%;
    height:0;
    opacity:0;
    padding:0 30px 0 15px;
    cursor:default;
    pointer-events:none;
    background:$l-gray;
    z-index:1000;
  }

  .container {
    @include media ("≥widescreen") {
      padding-top:15px;
      padding-bottom:30px;
    }
  }
}

.header__action-menu {
  @extend %listreset;

  li {
    @include media ("≥tablet") {
      margin-left: 15px;
    }
    @include media ("≥desktop") {
      margin-left: 25px;
    }
  }
}

.header__btn {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 44px;
  height: 44px;
  &:hover {
    color: $color-accent;
  }

  svg {
    color: currentColor;
  }
}

.header__cart-btn__num {
  position: absolute;
  right: 1px;
  top: 1px;
  width: 20px;
  height: 20px;
  padding: 2px;
  font-size: 12px;
  line-height: 14px;
  text-align: center;
  background: $white;
  border-radius: 100%;
}

.header__search-form {
  position: relative;
  margin: 20px 0 0;

  input {
    padding-right: 50px;
  }

  .button {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    min-width: 44px;
    padding: 6px;
    background: $btn-background;
    border: 1px solid $black;
  }
}
