.pickup-availability-active {

  body {
    position: relative !important;
    overflow: hidden !important;
  }
}

.pickup-availability-drawer {
  position: fixed;
  top: 0;
  right: 0;
  z-index: 1003;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  width: 100%;
  height: 100%;
  padding: 30px;
  background: $base-body-background;
  opacity: 0;
  transition: opacity $animation-speed ease-in-out, transform $animation-speed ease-in-out;
  overflow: hidden auto;
  overscroll-behavior: contain;
  @include media ("≥tablet") {
    width: 400px;
    border-left: 1px solid $base-border;
    transform: translateX(100%);
  }

  .pickup-availability-active & {
    opacity: 1;
    @include media ("≥tablet") {
      transform: translateX(0);
    }
  }
}

.pickup-availability-info,
.pickup-availability-drawer {

  .icon-tick {
    width: 20px;
    margin: 2px 0 0;
    color: $messages-success;
  }
}

.pickup-availability-wrapper {
  flex: 1 1 auto;
  width: 100%;
  overflow: hidden auto;
}

.pickup-availability-list__item {
  border-bottom: 1px solid $base-border;
  &:first-child {
    border-top: 1px solid $base-border;
  }

  > * {
    margin: 0 0 10px;
    &:last-child {
      margin-bottom: 0;
    }
  }
}

.pickup-availability-address {
  font-style: normal;

  p {
    margin: 0;
  }
}
