**/.git
**/.svn
**/.hg
**/node_modules
**/src/layout/*.liquid
**/src/snippets/*-json.liquid
**/src/snippets/button.liquid
**/src/snippets/image.liquid
**/src/snippets/theme-seo.liquid
**/src/snippets/theme-meta.liquid
**/src/snippets/social-meta-tags.liquid