<div id="age-popup" class="age-popup">
  <div class="text-center age-popup__box">
    <div class="mb-5">This website requires you to be 18 or older to enter.</div>
    <div class="h3 mb-4">Are you over 18?</div>
    <button type="button" data-fancybox-close>Yes, i am</button>
  </div>
</div>