{% liquid
  if section.settings.blog_hero_layout == 'image'
    assign blog_hero_image = true
  endif
%}

<div class="blog-hero relative overflow-hidden">
  <div class="container relative z-3">
    <div class="blog-hero__block flex items-center py-18 text-center md:py-22 lg:py-29{% if blog_hero_image %} customizable-base-text{% endif %}">
      <div class="w-100">
        <h1 class="h2{% if blog_hero_image %} mb-3{% endif %}">
          {{ blog.title }}
        </h1>
        {% if section.settings.blog_hero_display_description and section.settings.blog_hero_description != blank %}
          {{ section.settings.blog_hero_description }}
        {% endif %}
      </div>
    </div>
  </div>
  {% if blog_hero_image %}
    <div class="blog-hero__bg-img absolute left-0 top-0 z-1 h-100 w-100">
      {% if section.settings.blog_hero_image != blank %}
        {%
          render 'image',
          src: section.settings.blog_hero_image,
          m: '375x',
          src_d: section.settings.blog_hero_image,
          d: '1440x',
          alt: section.settings.blog_hero_image.alt,
          lazyload: enable_lazyload
        %}
      {% else %}
        {{ 'image' | placeholder_svg_tag: 'placeholder-svg' }}
      {% endif %}
    </div>
  {% endif %}
</div>
