<nav aria-label="breadcrumbs">
  <div class="container">
    <ul class="breadcrumbs">
      <li>
        <a href="#">Home</a>
      </li>
      <li>
        <a href="#">Shop</a>
      </li>
      <li>Blue Silk Tuxedo</li>
    </ul>
  </div>
</nav>