<div class="cart-popup">
	<div class="cart-popup__header">
		<div class="cart-popup__heading">
			Just added to your cart
		</div>
		<div>
			<button class="cart-popup__close default">
				{%- render 'icon-close' -%}
			</button>
		</div>
	</div>
	<div class="cart-popup__holder">
		<div class="cart-popup__item" data-added-item>
		
		</div>
		<div class="text-center">
			<a href="{{ routes.cart_url }}" class="button w-100">View cart <span data-cart-count-popup>(1)</span></a>
			<div class="pt-2">
				{{ 'cart.general.continue_shopping_html' | t }}
			</div>
		</div>
	</div>
</div>
