{% if image != blank %}
  <div class="page-hero">
    {%
      render 'image',
      src: image,
      m: '360x',
      src_d: image,
      d: '1440x',
      alt: image.alt,
      lazyload: enable_lazyload
    %}
  </div>
{% endif %}
