<div class="pickup-availability-drawer" tabindex="-1" role="dialog">
  <div class="pickup-availability-header">
    <div class="flex items-start justify-between mb-5">
      <div class="h6 mt-2 md:mt-1">
        {{ product.title }}
      </div>
      <button
        type="button"
        class="btn-closer page-wrapper__opener flex items-center flex-shrink-0 ml-1"
        aria-label="Close pickup availability"
      ></button>
    </div>
    <div class="body-small capitalize base-secondary-text mb-5">Color : Gummy</div>
  </div>
  <div class="pickup-availability-wrapper">
    <ul class="pickup-availability-list pr-3">
      <li class="pickup-availability-list__item py-8">
        <div class="title">20 River Court</div>
        <div class="pickup-availability-preview flex">
          <div class="flex-shrink-0 mr-2">
            {%- render 'icon', icon: 'icon-tick' -%}
          </div>
          <div>Pickup available at 20 River Court</div>
        </div>
        <address class="pickup-availability-address">
          20 River Court <br>
          Jersey City NJ 07310 <br>
          United States
        </address>
      </li>
    </ul>
  </div>
</div>
