<div class="product-gallery-splide">
  <div class="splide__track">
    <div class="splide__list">
      <div class="splide__slide">
        <div class="product-gallery__img">
          {% render
            'image',
            asset_img_url: true,
            src: 'gallery-img-02-2x.jpg',
            d: '635x791',
            src_m: 'gallery-img-02-2x.jpg',
            m: '290x364',
            placeholder: 'img-placeholder.png',
            p_d: '635x791',
            p_m: '290x364',
          %}
        </div>
      </div>
      <div class="splide__slide">
        <div class="product-gallery__img">
          {% render
            'image',
            asset_img_url: true,
            src: 'img-placeholder.png',
            d: '635x791',
            src_m: 'img-placeholder.png',
            m: '290x364',
            placeholder: 'img-placeholder.png',
            p_d: '635x791',
            p_m: '290x364',
          %}
        </div>
      </div>
      <div class="splide__slide">
        <div class="product-gallery__img">
          {% render
            'image',
            asset_img_url: true,
            src: 'gallery-img-02-2x.jpg',
            d: '635x791',
            src_m: 'gallery-img-02-2x.jpg',
            m: '290x364',
            placeholder: 'img-placeholder.png',
            p_d: '635x791',
            p_m: '290x364',
          %}
        </div>
      </div>
      <div class="splide__slide">
        <div class="product-gallery__img">
          {% render
            'image',
            asset_img_url: true,
            src: 'img-placeholder.png',
            d: '635x791',
            src_m: 'img-placeholder.png',
            m: '290x364',
            placeholder: 'img-placeholder.png',
            p_d: '635x791',
            p_m: '290x364',
          %}
        </div>
      </div>
    </div>
  </div>
</div>