<div class="product-main-block__img-holder mb-md-n4">
  <div class="d-flex d-md-block">
    {% for image in product.images %}
      <div class="product-main-block__img-item mb-md-4">
        {% render
          'image',
          src: image,
          d: '635x',
          src_m: image,
          m: '290x',
        %}
      </div>
    {% endfor %}
  </div>
</div>

