<div class="product-main-block__img-holder mb-md-n4">
  <div class="d-flex d-md-block">
    <div class="product-main-block__img-item mb-md-4">
      {% render
        'image',
        asset_img_url: true,
        src: 'img-placeholder.png',
        d: '635x',
        src_m: 'img-placeholder.png',
        m: '290x',
      %}
    </div>
    <div class="product-main-block__img-item mb-md-4">
      {% render
        'image',
        asset_img_url: true,
        src: 'img-placeholder.png',
        d: '635x',
        src_m: 'img-placeholder.png',
        m: '290x',
      %}
    </div>
    <div class="product-main-block__img-item mb-md-4">
      {% render
        'image',
        asset_img_url: true,
        src: 'img-placeholder.png',
        d: '635x',
        src_m: 'img-placeholder.png',
        m: '290x',
      %}
    </div>
    <div class="product-main-block__img-item mb-md-4">
      {% render
        'image',
        asset_img_url: true,
        src: 'img-placeholder.png',
        d: '635x',
        src_m: 'img-placeholder.png',
        m: '290x',
      %}
    </div>
    <div class="product-main-block__img-item mb-md-4">
      {% render
        'image',
        asset_img_url: true,
        src: 'img-placeholder.png',
        d: '635x',
        src_m: 'img-placeholder.png',
        m: '290x',
      %}
    </div>
  </div>
</div>

