<div class="{{grid_item_width}}">
	<div class="product-item text-center">
		<a href="{{ product.url | within: collection }}" class="product-item__img">
			{% render "image", src:product.featured_image, m:'303x', d:'345x' %}
		</a>
		<div class="product-item__box">
			<h3 class="product-item__title">
				<a href="#">Your product's name</a>
			</h3>
			{% render "product-price", product:product %}
		</div>
	</div>
</div>
