.post__discussion {
  margin: 0 0 40px;
  padding: 40px 0 0;
  border-top: 1px solid $base-border;
  &:last-child {
    margin-bottom: 0;
  }

  ul {

    li {
      margin: 0 0 24px;
      &:last-child {
        margin-bottom: 0;
      }
    }
  }
}

.post__comment {

  p {
    &:last-child {
      margin: 0;
    }
  }
}

.comment-form {
  margin: 0 0 40px;
  padding: 40px 0 0;
  border-top: 1px solid $base-border;
  &:last-child {
    margin-bottom: 0;
  }
}
