.cart-table {
  width: 100%;
  table-layout: fixed;
  border-collapse: collapse;

  tr {
    border-bottom: 1px solid $base-border;
  }

  th {
    padding: 12px 0;
    font-weight: normal;
  }

  th,
  td {
    text-align: left;
    padding: 10px 0;
    @include media ("≥tablet") {
      padding: 15px 20px;
    }
    &:first-child {
      width: 60%;
      @include media ("≥tablet") {
        width: 45%;
      }
    }
    &:nth-child(2) {
      width: 30%;
      text-align: right;
      @include media ("≥tablet") {
        width: 15%;
      }
    }
    &:nth-child(3) {
      display: none;
      @include media ("≥tablet") {
        display: table-cell;
        width: 15%;
      }
    }
    &:nth-child(4) {
      display: none;
      @include media ("≥tablet") {
        display: table-cell;
        width: 15%;
        text-align: right;
      }
    }
  }
}

.cart-form {

  label {
    font-size: 14px;
  }

  button,
  .button {
    width: 100%;
    @include media("≥tablet") {
      width: auto;
    }
  }
}

.cart-form__total {
  @include media ("≥widescreen") {
    text-align: right;
  }

  p {
    margin: 0 0 10px;
  }
}

.cart-form__total__text-box {
  font-weight: normal;
  color: $base-secondary-text;
}

.cart__product-img {
  display: block;
  width: 100%;
}

.cart__product-text {

  p {
    margin: 0 0 10px;
  }
}

.cart__product-link {
  text-decoration: none;
}
