.cart-table {
  width: 100%;
  table-layout: fixed;
  border-collapse: collapse;

  tr {
    border-bottom: 1px solid $base-border;
  }

  th,
  td {
    padding: 10px 0;
    text-align: left;
    @include media ("≥tablet") {
      padding: 17px 10px;
    }
    &:first-child {
      width: 60%;
      padding-right: 0;
      padding-left: 0;
      @include media ("≥tablet") {
        width: 40%;
      }
    }
    &:nth-child(2) {
      width: 30%;
      text-align: right;
      @include media ("≥tablet") {
        width: 18%;
      }
    }
    &:nth-child(3) {
      display: none;
      @include media ("≥tablet") {
        display: table-cell;
        width: 20%;
        text-align: right;
      }
    }
    &:nth-child(4) {
      display: none;
      @include media ("≥tablet") {
        display: table-cell;
        width: 19%;
        padding-right: 0;
        padding-left: 0;
        text-align: right;
      }
    }
  }

  th {
    padding-top: 5px;
    padding-bottom: 12px;
    font-weight: normal;
  }
}

.cart-form {

  label {
    font-size: 14px;
  }

  .button {
    width: 100%;
    white-space: normal;
    @include media("≥tablet") {
      width: auto;
    }
  }

  .product__price__box {
    margin-right: -7px;
    margin-bottom: -5px !important;

    > ins,
    > del {
      display: inline-block;
      vertical-align: top;
      margin-right: 7px;
    }
  }
}

.cart-form__total {
  @include media ("≥tablet") {
    text-align: right;
  }

  .title-1 {
    margin: 0 0 40px;
    @include media ("≥widescreen") {
      margin: 0 0 11px;
    }
  }

  p {
    margin: 0 0 10px;
  }
}

.cart-form__total__text-box {
  font-weight: normal;
  color: $base-secondary-text;
}

.cart__product-img {
  display: flex;
  flex-shrink: 0;
  width: 71px;
  margin-right: 20px;

  > a {
    display: block;
    width: 100%;
  }
}

.cart__product-text {

  p {
    margin: 0 0 10px;
  }
}

.cart__product-link {
  font-size: $font-size-base;
  color: $base-body-text;
  text-decoration: none;
  @include media ("≥widescreen") {
    font-size: calc(#{$font-size-base} + 2px);
  }
  &:hover {
    @include media ("≥widescreen") {
      color: $base-secondary-text;
    }
  }
}

.cart__product-vendor {
  margin: -2px 0 4px;
  color: $base-secondary-text;
}

.cart__button-remove {
  color: $base-body-text;
  @include media ("≤767px") {
    text-decoration: none;
  }
}
