.collection-scroll {
  @include media ("<widescreen") {
    margin: 0 calc(#{-$grid-gutter-width} / 2) 0 0;
    overflow-x: auto;
    overflow-y: hidden;
    scroll-snap-type: x mandatory;
  }
}

.collection-item {

  .collection-grid & {
    position: relative;
  }

  .collection-scroll & {
    @include media ("<widescreen") {
      flex-shrink: 0;
      width: 250px;
      scroll-snap-align: start;
    }
  }

  .image-container {
    margin: 0 0 12px;
    padding-top: 150.8%;
    @include media ("≥tablet") {
      padding-top: 125.6%;
    }

    .collection-grid & {
      margin: 0;
      padding-top: 170.67%;
      @include media ("≥tablet") {
        margin: 0 0 12px;
        padding-top: 100%;
      }
      @include media ("≥widescreen") {
        padding-top: 125.6%;
      }
    }
  }
}

.collection-item__box {

  .collection-grid & {
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 2;
    padding: 20px 16px;
    pointer-events: none;
    @include media ("≥tablet") {
      position: static;
      padding: 0;
    }
  }
}
