.benefits-list-block {
  display: grid;
  grid-gap: 16px;
  @include media ("≥tablet") {
    grid-template-columns: repeat(2, 50%);
    grid-auto-flow: column;
  }

  > div {
    &:nth-child(3) {
      @include media ("≥tablet") {
        display: flex;
        grid-row: span 3;
        align-items: center;
      }
    }
  }
}

.benefits-list__text-box {

  p {
    &:last-child {
      margin: 0;
    }
  }
}

.benefits-list__items-block {

  ul {
    @include media ("≥tablet") {
      padding-left: 34px;
    }
  }

  li {
    margin: 0 0 26px;
    &:last-child {
      margin: 0;
    }
  }
}

.list-checks-block {

  li {
    position: relative;
    padding: 0 0 0 36px;
    &::after {
      content: "";
      position: absolute;
      top: 8px;
      left: 4px;
      width: 15px;
      height: 8px;
      border: 2px solid $base-border;
      border-width: 0 0 2px 2px;
      transform: rotate(-50deg);
    }
  }
}
