.blog-post-section__holder {
  margin: 0 0 -30px;
  overflow: hidden
}

.blog-post-section-item {
  margin: 0 0 30px;
}

.blog-post-section-item__tags-list {
  @extend %listreset;
  display: flex;
  flex-wrap: wrap;
  margin: 0 0 20px;

  li {
    margin: 0 14px 8px 0;
  }
}

.blog-post-section-item__button-box {

  .button {
    margin: 0 20px 0 0;
    @include media ("≥desktop") {
      margin: 0 30px 0 0;
    }
    &:last-child {
      margin: 0;
    }
  }
}

.blog-post-section-item__comment-link {
  padding: 8px 0;
  text-transform: uppercase;
}
