.collection-list-item {
  border: 1px solid $base-border;
  &:hover,
  &:focus {
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.09);
  }
}

.collection-list-item__text-box {
  position: absolute;
  top: 20px;
  right: 20px;
  bottom: 20px;
  left: 20px;
  z-index: 2;
}

.collection-list-item__title {
  font-weight: 700;
}
