.product-item {
  margin: 0 0 64px;
  @include media("≥576px") {
    margin: 0 0 30px;
  }
}

.product-item__img {
  display: block;
  margin: 0 0 30px;
  @include media("≥desktop") {
    margin: 0 0 5px;
  }
}

.product-item__title {
  margin: 0 0 10px;
  font-size: $font-size-base;
  line-height: 1.25;
  font-weight: 600;
  @include media("≥desktop") {
    margin: 0 0 15px;
  }
}
