.product-item {
  margin: 0 0 20px;
  @include media("≥576px") {
    margin: 0 0 30px;
  }
}

.product-item__label {
  margin: 0 -4px -5px;
  &.product-item__label--large {

    > * {
      padding: 4px 10px;
    }
  }

  > * {
    margin: 0 4px 5px;
    padding: 1px 6px;
  }
}

.product-item__label-sale {
  color: $labels-sale-text;
  background: $labels-sale-background;
}

.product-item__label-soldout {
  color: $labels-soldout-text;
  background: $labels-soldout-background;
}

.product-item__label-new {
  color: $labels-new-text;
  background: $labels-new-background;
}

.featured-collection__gallery {
  @include media ("≤767px") {
    overflow-x: auto;
    scroll-snap-type: x mandatory;
    -webkit-overflow-scrolling: touch;
  }

  > div {
    @include media ("≤767px") {
      scroll-snap-align: start;
      flex-shrink: 0;
      width: 100%;
    }
  }
}
