.feature-block__img {
  margin: 0 0 20px;
  @include media("≥tablet") {
    margin: 0;
  }
}

.feature-block__text {

  a {
    margin: 40px 0 0;
    @include media("≥tablet") {
      margin: 0;
    }
  }
}