.hero {
  position: relative;
  z-index: 2;
  margin: 0 0 50px;
  @include media("≥tablet") {
    margin: 0;
  }
  &.hero--full-height {
    height: calc(100vh - var(--header-height));
  
    .hero__img {
      position: absolute;
      left: 0;
      top: 0;
      right: 0;
      bottom: 0;
      margin: 0;

      img {
        object-fit: cover;
        height: 100%;
      }
    }

    .hero__block {
      @include media ("≤767px") {
        position: absolute;
        left: 0;
        top: 30px;
        right: 0px;
        bottom: 30px;
        z-index: 4;
      }
    }
  }
}

.hero__img {
  margin: 0 0 20px;
  @include media("≥tablet") {
    margin: 0;
  }
}

.hero__block {
  @include media("≥tablet") {
    position: absolute;
    left: 0;
    top: 30px;
    right: 0px;
    bottom: 30px;
    z-index: 4;
  }
}