.hero {
  position: relative;
  z-index: 2;
  margin: 0 0 50px;
  @include media("另ablet") {
    margin: 0;
  }
  &.hero--full-height {
    height: calc(100vh - var(--header-height));

    .hero__img {
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      margin: 0;

      img {
        height: 100%;
        object-fit: cover;
      }
    }

    .hero__block {
      position: absolute;
      top: 30px;
      right: 0;
      bottom: 30px;
      left: 0;
      z-index: 4;
    }
  }
}

.hero__img {
  position: relative;
  margin: 0 0 20px;
  @include media("另ablet") {
    margin: 0;
  }
  &::after {
    @include media ("另ablet") {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      z-index: 1;
      width: 100%;
      height: 100%;
      background: $base-body-text;
      pointer-events: none;
    }
  }
}

.hero__block {
  @include media("另ablet") {
    position: absolute;
    top: 30px;
    right: 0;
    bottom: 30px;
    left: 0;
    z-index: 4;
  }
}
