.hero {
  position: relative;
  z-index: 2;
  margin: 0 0 50px;
  @include media("≥tablet") {
    margin: 0;
  }
  &.hero--full-height {
    height: calc(100vh - var(--header-height));

    .hero__img {
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      margin: 0;
      &::after {
        display: block;
      }

      img {
        height: 100%;
        object-fit: cover;
      }
    }

    .hero__block {
      position: absolute;
      top: 30px;
      right: 0;
      bottom: 30px;
      left: 0;
      z-index: 4;
    }
  }
  &.hero--full-width {

    > .container {
      max-width: 100%;
      padding: 0;
    }
  }
  &.hero--banner-small,
  &.hero--banner-medium,
  &.hero--banner-large {

    &.hero--full-width {

      .hero__img {
        @include media ("≥tablet") {
          right: 0;
          left: 0;
        }
      }
    }

    .hero__img {
      @include media ("≥tablet") {
        position: absolute;
        top: 0;
        right: calc(#{$grid-gutter-width} / 2);
        bottom: 0;
        left: calc(#{$grid-gutter-width} / 2);
      }

      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }
  }
  &.hero--banner-small {

    > .container {
      @include media ("≥tablet") {
        min-height: 420px;
      }
    }

    .hero__img {
      height: 280px;
      @include media ("≥tablet") {
        height: 100%;
      }
    }
  }
  &.hero--banner-medium {

    > .container {
      @include media ("≥tablet") {
        min-height: 560px;
      }
    }

    .hero__img {
      height: 340px;
      @include media ("≥tablet") {
        height: 100%;
      }
    }
  }
  &.hero--banner-large {

    > .container {
      @include media ("≥tablet") {
        min-height: 720px;
      }
    }

    .hero__img {
      height: 390px;
      @include media ("≥tablet") {
        height: 100%;
      }
    }
  }
}

.hero__img {
  position: relative;
  margin: 0 0 20px;
  @include media("≥tablet") {
    margin: 0;
  }
  &::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    width: 100%;
    height: 100%;
    background: $base-body-text;
    pointer-events: none;
    @include media ("≤767px") {
      display: none;
    }
  }
}

.hero__block {
  @include media("≥tablet") {
    position: absolute;
    top: 30px;
    right: 0;
    bottom: 30px;
    left: 0;
    z-index: 4;
  }
}
