.product-gallery {
  margin: 0 0 20px;
}

.product-gallery__img {
  display: flex;
  justify-content: center;
  width: 100%;
  height: 100%;

  picture {
    width: 100%;
  }

  img {
    max-width: none;
  }
}

.product-gallery-thumbs {

  .splide__slide {
    opacity: 0.4;
    &.is-active {
      border: none !important;
      opacity: 1;
      transition: opacity $animation-speed ease;
    }
  }
}

.product-gallery-thumbs__img {

  img {
    width: auto;
  }

  picture {
    display: flex;
    align-items: flex-start;
    justify-content: center;
  }
}

.product-main-block__img-holder {
  @include media("≤767px") {
    margin: 0 calc(#{-$grid-gutter-width} / 2) 0 0;
    overflow-x: auto;
    overflow-y: hidden;
    scroll-snap-type: x mandatory;
  }
}

.product-main-block__img-item {
  @include media("≤767px") {
    flex-shrink: 0;
    width: calc(100% - 69px);
    margin-right: 20px;
    scroll-snap-align: start;
  }
}

.product-main-block__details {
  &.product-main-block__details--sticky {
    @include media ("≥tablet") {
      position: sticky;
      top: var(--header-sticky-height);
      padding: 5px 0 0;
    }
  }
}

.product__title {
  margin: 0 0 4px;
}

.product__vendor {
  margin: 0 0 8px;
  color: #999;

  mark {
    color: #000;
    background: none;
  }

  p {
    &:last-child {
      margin: 0;
    }
  }
}

.product__row {
  margin: 0 0 20px;
  @include media("≥widescreen") {
    margin: 0 0 30px;
  }
}

.product__price__box {
  margin: 0 0 3px;

  > * {
    margin: 0 5px 5px 0;
    font-weight: inherit;
  }
}

.product__price__text {
  font-size: calc(#{$font-size-base} - 4px);

  p {
    &:last-child {
      margin: 0;
    }
  }
}

.product-main-block__rating-box {
  margin: 0 0 40px;
  @include media ("≥widescreen") {
    margin: 0 0 77px;
  }
}

.product__label {
  display: inline-block;
  vertical-align: top;
  margin: 0 0 4px;
  font-size: $font-size-base - 2px;
}

.product__select {
  display: block;
}

.product-gallery-mobile {
  display: flex;
  align-items: center;
  margin: 0 -5px;
  overflow-x: visible;
  overflow-y: hidden;
}

.product-gallery-mobile__img {
  min-width: 90%;
  margin-right: 16px;

  img {
    min-width: 100%;
  }
}

.product__variant-label {
  font-weight: bold;
}

.product-gallery-splide {
  position: relative;
  margin: 0 -20px 20px 0;
  @include media ("≥tablet") {
    margin-right: 0;
  }

  .splide__list {
    display: flex;
    align-items: center;
  }
}

.size-chart-link {
  position: absolute;
  right: 15px;
  font-size: 14px;
  color: $base-body-text;
  text-decoration: none;
}

.shopify-payment-button__button--unbranded {
  display: none;
}

.shopify-payment-button__button--hidden {
  display: none !important;
}
