.product-gallery {
  margin: 0 0 20px;
}

.product-gallery__img {
  display: flex;
  justify-content: center;
  width: 100%;
  height: 100%;

  img {
    width: auto;
  }
}

.product-gallery-thumbs {

  .swiper-slide {
    opacity: 0.4;
  }

  .swiper-slide-thumb-active {
    opacity: 1;
    transition: opacity $animation-speed ease;
  }
}

.product-gallery-thumbs__img {

  img {
    width: auto;
  }

  picture {
    display: flex;
    align-items: flex-start;
    justify-content: center;
  }
}

.product__title {
  margin: 0;
}

.product__vendor {
  color: #999;

  mark {
    color: #000;
    background: none;
  }

  p {
    &:last-child {
      margin: 0;
    }
  }
}

.product__row {
  margin: 0 0 20px;
  @include media("≥widescreen") {
    margin: 0 0 30px;
  }
}

.product__price {
  margin: 0 0 15px;
  @include media("≥widescreen") {
    margin: 0 0 20px;
  }
}

.product__price__box {
  margin-bottom: 10px;
  font: $font-heading-style calc(#{$font-size-base + 4px}) $headings-font-family;
  @include media("≥widescreen") {
    margin: 0 0 14px;
  }

  > * {
    margin: 0 5px 0 0;
    font-family: inherit;
    font-size: inherit;
    line-height: inherit;
    font-weight: inherit;
  }

  ins {
    text-decoration: none;
  }

  del {
    color: $base-sale-price;
  }
}

.product__price__text {
  font-size: $font-size-base - 2px;

  p {
    &:last-child {
      margin: 0;
    }
  }
}

.product__label {
  margin: 0 0 4px;
  display: inline-block;
  vertical-align: top;
  font-size: $font-size-base - 2px;
}

.product__select {
  display: block;
}

.product-gallery-mobile {
  display: flex;
  align-items: center;
  margin: 0 -5px;
  overflow-y: hidden;
  overflow-x: visible;
}

.product-gallery-mobile__img {
  margin-right: 16px;
  min-width: 90%;

  img {
    min-width: 100%;
  }
}

.product__variant-label {
  font-weight: bold;
}
