.product__img {
  margin:0 0 20px;
  @include media("另ablet") {
    margin:0;
  }
}

.product__title {
  margin:0;
}

.product__vendor {
  
  p {
    &:last-child {
      margin:0;
    }
  }
}

.product__row {
  margin:0 0 20px;
  @include media("卡esktop") {
    margin:0 0 30px;
  }
}

.product__price {
  margin:0 0 45px;
  @include media("卡esktop") {
    margin:0 0 55px;
  }
}

.product__price__box {
  margin-bottom:10px;
  font:$font-heading-style #{$font-size-base + 4px} $headings-font-family;
  @include media("卡esktop") {
    margin:0 0 14px;
  }
  
  > * {
    margin: 0 5px 0 0;
  }
  
  ins {
    text-decoration:none;
  }
  
  del {
    color:$red;
  }
}

.product__price__text {
  font-size: $font-size-base - 2px;
  
  p {
    &:last-child {
      margin:0;
    }
  }
}

.product__label {
  margin:0 0 4px;
  display:inline-block;
  vertical-align:top;
  font-size: $font-size-base - 2px;
}

.product__select {
  display:block;
}