.rich-text-section {
  @include media ("≥tablet") {
    max-width: 66.66%;
  }
  &.rich-text-section--wide-display {
    @include media ("≥tablet") {
      max-width: 100%;
    }
  }
  &.rich-text-section--sm {
    font-size: calc(#{$font-size-base} - 2px);
    @include media ("≥desktop") {
      font-size: $font-size-base;
    }

    .h3 {
      font-size: calc(#{$h3-font-size} - 4px);
      @include media ("≥desktop") {
        font-size: calc(#{$h3-font-size-desktop} - 4px);
      }
    }
  }
  &.rich-text-section--lg {
    font-size: calc(#{$font-size-base} + 2px);
    @include media ("≥desktop") {
      font-size: calc(#{$font-size-base} + 4px);
    }

    .h3 {
      font-size: calc(#{$h3-font-size} + 4px);
      @include media ("≥desktop") {
        font-size: calc(#{$h3-font-size-desktop} + 4px);
      }
    }
  }
}
