.search-item {
  margin:0 0 20px;
  @include media("卡esktop") {
    margin:0 0 44px;
  }
  &:last-child {
    margin-bottom:0;
  }
}

.search-item__title {
  font:600 #{$font-size-base - 2px} $base-font-sans-serif;
  letter-spacing: 0.05em;
  @include media("卡esktop") {
    font-family: $font-size-base;
    letter-spacing: 0.02em;
  }
  &:last-child {
    margin:0;
  }
}

.search-item__price {
  @include media("另ablet") {
    text-align:right;
  }
  
  * {
    display:inline-block;
    vertical-align:middle;
    margin:0 7px 0 0;
    @include media("另ablet") {
      margin:0 0 0 7px;
    }
  }
  
  ins {
    text-decoration:none;
  }
  
  del {
    color:$red;
  }
}