.search-item {
  margin:0 0 20px;
  @include media("卡esktop") {
    margin:0 0 44px;
  }
  &:last-child {
    margin-bottom:0;
  }
}

.search-item__title {
  font-size: calc(#{$font-size-base} - 2px);
  font-weight: 600;
  letter-spacing: 0.05em;
  @include media("卡esktop") {
    font-size: $font-size-base;
    letter-spacing: 0.02em;
  }
  &:last-child {
    margin:0;
  }

  a {
    display: inline-block;
  }
}

.search-item__price {
  @include media("另ablet") {
    text-align:right;
  }
  
  * {
    display:inline-block;
    margin:0 7px 0 0;
    @include media("另ablet") {
      margin:0 0 0 7px;
    }
  }
  
  ins {
    text-decoration:none;
  }
  
  del {
    color: $danger;
  }
}