.slideshow-gallery {

  .splide__pagination {
    bottom: 10px;
  }

  .splide__arrow {
    top: 30%;
    @include media ("≥tablet") {
      top: 50%;
    }
    &:disabled {
      display: none;
    }
  }

  .splide__slide {
    &.is-active {

      .slideshow-gallery__block {
        @include media ("≥tablet") {
          opacity: 1;
          transform: translateY(0);
        }
      }
    }
  }
}

.slideshow-gallery__img {
  height: 270px;
  @include media ("≥tablet") {
    height: 650px;
  }
  &.slideshow-gallery__img--sm {
    height: 175px;
    @include media ("≥tablet") {
      height: 475px;
    }
  }
  &.slideshow-gallery__img--lg {
    height: 375px;
    @include media ("≥tablet") {
      height: 775px;
    }
  }

  img {
    height: 100%;
    object-fit: cover;
  }
}

.slideshow-gallery__block {
  position: relative;
  width: 80%;
  margin: -20px auto 0;
  padding: 20px 0 40px;
  background: $base-body-background;
  @include media("≥tablet") {
    position: absolute;
    top: 30px;
    right: 0;
    bottom: 30px;
    left: 0;
    z-index: 4;
    width: 100%;
    margin: 0;
    padding: 0;
    color: #fff;
    background: none;
    opacity: 0;
    transition: opacity, transform 0.6s cubic-bezier(0.44, 0.13, 0.48, 0.87);
    transform: translateY(50px);
  }

  .container {
    box-sizing: border-box;
    padding: 0 60px;
    @include media ("≥laptop") {
      padding: 0 30px;
    }
  }
}

.slideshow-gallery__text-block {
  margin: 0 0 16px;
  font-size: $font-size-base - 1px;
  @include media ("≥tablet") {
    font-size: $font-size-base + 3px;
  }
  &.slideshow-gallery__text-block--lg {
    font-size: $font-size-base + 1px;
    @include media ("≥tablet") {
      font-size: $font-size-base + 7px;
    }

    .slideshow-gallery__title {
      font-size: 34px;
      @include media ("≥tablet") {
        font-size: 65px;
      }
    }
  }
  &:last-child {
    margin-bottom: 0;
  }

  p {
    &:last-child {
      margin: 0;
    }
  }
}

.slideshow-gallery__title {
  margin: 0 0 10px;
  font-size: 32px;
  line-height: 1;
  @include media ("≥tablet") {
    font-size: 35px;
  }
}

.slideshow-gallery__overlay {
  @include media ("≥tablet") {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: $base-border;
    opacity: 0.4;
  }
}
