.testimonials-slider {

  .swiper-wrapper {
    margin: 0 0 50px;
  }

  .swiper-pagination {
    position: initial;
  }
}

.testimonials-slider__blockquote {
  margin: 0;

  cite {
    &::before {
      content: '\2014 \0020';
    }
  }
}

.testimonials-slider__icon {
  margin: 0 0 20px;

  svg {
    width: 20px;
    height: 20px;
    vertical-align: middle;
  }
}

.testimonials-slider__text-block {
  margin: 0 0 30px;
}
