<div class="section">
  <div class="container">
    <div class="row">
      <div class="col-6 col-md-2">
        <div class="benefits-item text-center">
          <div class="benefits-item__img">
            {% render
              'image',
              asset_img_url: true,
              src: 'img-placeholder.png',
              d: '50x',
            %}
          </div>
          <h2 class="h6 mb-0">Ultra-speed Connection</h2>
        </div>
      </div>
      <div class="col-6 col-md-2">
        <div class="benefits-item text-center">
          <div class="benefits-item__img">
            {% render
              'image',
              asset_img_url: true,
              src: 'img-placeholder.png',
              d: '50x',
            %}
          </div>
          <h2 class="h6 mb-0">250+ World Channels</h2>
        </div>
      </div>
      <div class="col-6 col-md-2">
        <div class="benefits-item text-center">
          <div class="benefits-item__img">
            {% render
              'image',
              asset_img_url: true,
              src: 'img-placeholder.png',
              d: '50x',
            %}
          </div>
          <h2 class="h6 mb-0">Free Installation</h2>
        </div>
      </div>
      <div class="col-6 col-md-2">
        <div class="benefits-item text-center">
          <div class="benefits-item__img">
            {% render
              'image',
              asset_img_url: true,
              src: 'img-placeholder.png',
              d: '50x',
            %}
          </div>
          <h2 class="h6 mb-0">4K and 8K Quality</h2>
        </div>
      </div>
      <div class="col-6 col-md-2">
        <div class="benefits-item text-center">
          <div class="benefits-item__img">
            {% render
              'image',
              asset_img_url: true,
              src: 'img-placeholder.png',
              d: '50x',
            %}
          </div>
          <h2 class="h6 mb-0">Flexible Tariff Plans</h2>
        </div>
      </div>
      <div class="col-6 col-md-2">
        <div class="benefits-item text-center">
          <div class="benefits-item__img">
            {% render
              'image',
              asset_img_url: true,
              src: 'img-placeholder.png',
              d: '50x',
            %}
          </div>
          <h2 class="h6 mb-0">Fast Support 24/7</h2>
        </div>
      </div>
    </div>
  </div>
</div>