<div class="section benefits-list">
  <div class="container">
    <div class="row">
      <div class="col-lg-10 mx-auto">
        <div class="row align-items-center">
          <div class="col-md-6">
            <h2>Unlimited Phone Data" Is Not "Unlimited Home Data</h2>
            <div class="benefits-list__text-box">
              <p>Purus ut faucibus pulvinar elementum integer. Lorem mollis aliquam ut porttitor leo a diam sollicitudin. Molestie ac feugiat sed lectus vestibulum mattis ullamcorper velit.</p>
            </div>
          </div>
          <div class="col-md-6">
            <ul class="benefits-list__items">
              <li>Unlimited Wi-Fi for EVERY connected device</li>
              <li>14 Day, No Risk, Money-Back Guarantee</li>
              <li>Human Support</li>
              <li>Rich Documentation</li>
              <li>Unlimited Phone Data</li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>