<section class="section blog-post-section">
  <div class="container">
    <h2 class="text-center">Blog posts</h2>
    <div class="blog-post-section__holder">
      <div class="row">
        <div class="col-md-4">
          <article class="blog-post-section__item">
            <a href="#" class="image-container mb-2">
              {% render
                'image',
                asset_img_url: true,
                src: 'img-placeholder.png',
                d: '413x',
                src_m: 'img-placeholder.png',
                m: '345x',
                placeholder: 'img-placeholder.png',
              %}
            </a>
            <h3 class="mb-0">
              <a href="#">Blog post title</a>
            </h3>
            <div class="mb-3">
              <time datetime="2019-06-30">June 30 2019</time>
            </div>
            <div class="mb-3 rte">
              <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Fugit, delectus!</p>
            </div>
            <ul class="blog-post-section__tags-list">
              <li>
                <a href="#">tag 1</a>
              </li>
              <li>
                <a href="#">tag 2</a>
              </li>
            </ul>
            <div class="blog-post-section__btn-box d-flex flex-wrap align-items-center">
              {% render
                'button',
                element: 'a',
                href: '#',
                text: 'Read more',
              %}
              <a href="#" class="blog-post-section__comment">1 comment</a>
            </div>
          </article>
        </div>
        <div class="col-md-4">
          <article class="blog-post-section-item">
            <a href="#" class="image-container mb-2">
              {% render
                'image',
                asset_img_url: true,
                src: 'img-placeholder.png',
                d: '413x',
                src_m: 'img-placeholder.png',
                m: '345x',
                placeholder: 'img-placeholder.png',
              %}
            </a>
            <h3 class="mb-0">
              <a href="#">Blog post title</a>
            </h3>
            <div class="mb-3">
              <time datetime="2019-06-30">June 30 2019</time>
            </div>
            <div class="mb-3 rte">
              <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Blanditiis ducimus sit inventore? Neque temporibus non ipsum similique sapiente totam blanditiis?</p>
            </div>
            <ul class="blog-post-section-item__tags-list">
              <li>
                <a href="#">tag 1</a>
              </li>
            </ul>
            <div class="blog-post-section-item__button-box d-flex flex-wrap align-items-center">
              {% render
                'button',
                element: 'a',
                href: '#',
                text: 'Read more',
              %}
            </div>
          </article>
        </div>
        <div class="col-md-4">
          <article class="blog-post-section-item">
            <a href="#" class="image-container mb-2">
              {% render
                'image',
                asset_img_url: true,
                src: 'img-placeholder.png',
                d: '413x',
                src_m: 'img-placeholder.png',
                m: '345x',
                placeholder: 'img-placeholder.png',
              %}
            </a>
            <h3 class="mb-0">
              <a href="#">Blog post title</a>
            </h3>
            <div class="mb-3">
              <time datetime="2019-06-30">June 30 2019</time>
            </div>
            <div class="mb-3 rte">
              <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Sapiente quaerat voluptas reiciendis! Itaque, ullam.</p>
            </div>
            <ul class="blog-post-section-item__tags-list">
              <li>
                <a href="#">tag 1</a>
              </li>
              <li>
                <a href="#">tag 2</a>
              </li>
            </ul>
            <div class="blog-post-section-item__button-box d-flex flex-wrap align-items-center">
              {% render
                'button',
                element: 'a',
                href: '#',
                text: 'Read more',
              %}
            </div>
          </article>
        </div>
      </div>
    </div>
  </div>
</section>