<div class="section">
  <div class="container">
    <div class="md:flex">
      <div class="md:mx-auto md:w-10/12 xl:w-7/12">
        {% if section.settings.show_title or page.content != blank %}
          <div class="section__title-block">
            {% if section.settings.show_title %}
              <h1 class="h2 mb-8 md:mb-10">{{ page.title }}</h1>
            {% endif %}
            {% if page.content != blank %}
              <div class="rte">
                {{ page.content }}
              </div>
            {% endif %}
          </div>
        {% endif %}
      </div>
    </div>
  </div>
</div>

{% schema %}
{
  "name": "Contact",
  "settings": [
    {
      "type": "checkbox",
      "id": "show_title",
      "label": "Show page title",
      "default": true
    }
  ]
}
{% endschema %}
