<div class="section">

  <!-- lightbox openers example -->
  <a class="lightbox" data-fancybox href="#popup1">Open inline DIV</a>
  <button data-fancybox data-src="#popup1" class="button">Launch Dialog</button>
  <a href="images/image1.jpg" data-fancybox="lightbox1">Image 1</a>
  <a href="images/image2.jpg" data-fancybox="lightbox1">Image 2</a>
  <a href="images/image3.jpg" data-fancybox="lightbox1">Image 3</a>


  <!-- inline lightbox structure example -->
  <div class="popup-holder">
    <div id="popup1" class="lightbox-demo" style="display: none;">
      <h2>Lightbox title 123</h2>
      <p>Lorem ipsum dolor sit amet...</p>
      <a data-fancybox-close href="#">Close</a>
    </div>
  </div>


  <!-- HTML5 video -->
  <a href="#" class="d-inline-flex" data-fancybox="video-gallery" data-src="/img/video.mp4" data-width="640" data-height="360">
    <img src="/img/video.jpeg" width="200" height="150" />
  </a>

  <!-- YouTube -->
  <a href="#" class="d-inline-flex" data-fancybox="video-gallery" data-src="https://www.youtube.com/watch?v=z2X2HaTvkl8">
    <img src="http://i3.ytimg.com/vi/z2X2HaTvkl8/hqdefault.jpg" width="200" height="150" />
  </a>

  <!-- Vimeo -->
  <a href="#" class="d-inline-flex" data-fancybox="video-gallery" data-src="https://vimeo.com/259411563">
    <img src="https://f.vimeocdn.com/images_v6/lohp/video1_thumbnail.png" width="200" height="150" />
  </a>


  <!-- fancyBox - Iframe example -->
  <a data-fancybox="true"
    data-src="http://www.adobe.com/content/dam/Adobe/en/devnet/acrobat/pdfs/pdf_open_parameters.pdf"
    href="javascript:;">Sample PDF file</a>
  <!-- fancyBox - Embedding example -->
  <a data-fancybox="true" href="https://www.youtube.com/watch?v=_sI_Ps7JSEk">YouTube video</a>
  <br>
  <a data-fancybox="true" href="https://vimeo.com/191947042">Vimeo video</a>
  <br>
  <a data-fancybox="true"
    href="https://www.google.com/maps/place/Googleplex/@37.4220041,-122.0833494,17z/data=!4m5!3m4!1s0x0:0x6c296c66619367e0!8m2!3d37.4219998!4d-122.0840572">Google
    Map</a>
  <!-- fancyBox - Ajax example -->
  <a data-fancybox="true" data-type="ajax" data-src="http://codepen.io/fancyapps/pen/oBgoqB.html" href="javascript:;">Open demo</a>

</div>