<header id="header">
  <div class="header__bar py-2">
    <div class="container">
      <ul class="header__bar-list d-flex flex-wrap align-items-center justify-content-center">
        <li>Announce something here</li>
      </ul>
    </div>
  </div>
  <div class="header__panel">
    <div class="container">
      <div class="row align-items-center">
        <div class="col-4 col-md-3">
          <div class="menu">
            <a href="#" class="menu__opener menu__btn-opener page-wrapper__opener d-lg-none">
              <span>Menu</span>
            </a>
            <div class="menu__drop">
              <ul id="nav" class="menu-accordion">
                <li>
                  <a href="#">Home</a>
                </li>
                <li class="has-drop">
                  <a href="#" class="menu-accordion__opener">Catalog</a>
                  <div class="menu-accordion__slide">
                    <div class="container">
                      <div class="row">
                        <div class="col-lg-3">
                          <ul>
                            <li>
                              <a href="#">Catalog Link</a>
                            </li>
                            <li>
                              <a href="#">Catalog Link</a>
                            </li>
                            <li>
                              <a href="#">Catalog Link</a>
                            </li>
                            <li>
                              <a href="#">Catalog Link</a>
                            </li>
                            <li>
                              <a href="#">Catalog Link</a>
                            </li>
                          </ul>
                        </div>
                        <div class="col-lg-3">
                          <ul>
                            <li>
                              <a href="#">Catalog Link</a>
                            </li>
                            <li>
                              <a href="#">Catalog Link</a>
                            </li>
                            <li>
                              <a href="#">Catalog Link</a>
                            </li>
                            <li>
                              <a href="#">Catalog Link</a>
                            </li>
                          </ul>
                        </div>
                      </div>
                    </div>
                  </div>
                </li>
                <li>
                  <a href="#">Blog</a>
                </li>
                <li>
                  <a href="#">About</a>
                </li>
              </ul>
            </div>
          </div>
        </div>
        <div class="col-4 col-md-6">
          <div class="logo">
            <a href="/">
              <img src="{{ 'logo.svg' | asset_url }}" alt="image description">
            </a>
          </div>
        </div>
        <nav class="col-4 col-md-3 d-flex flex-wrap align-items-center justify-content-end">
          <ul class="header__action-menu d-flex flex-wrap align-items-center justify-content-center">
            <li class="d-none d-md-block">
              <a href="#" class="header__action-menu__link">
                {%- include 'icon' with 'search' -%}
              </a>
            </li>
            <li class="d-none d-md-block">
              <a href="#" class="header__action-menu__link">
                {%- include 'icon' with 'search' -%}
              </a>
            </li>
            <li>
              <a href="#" class="header__action-menu__link">
                {%- include 'icon' with 'search' -%}
              </a>
            </li>
          </ul>
        </nav>
      </div>
    </div>
  </div>
</header>
