<div class="section">
  <div class="container overflow-hidden">
    <div class="flex flex-wrap md:justify-center -mx-4">
      {% for block in section.blocks %}
        {% liquid
          if block.settings.enable_lazyload
            assign enable_lazyload = true
          else
            assign enable_lazyload = false
          endif
        %}
        <div class="w-1/2 md:w-4/12 lg:w-2/12 px-4" {{ block.shopify_attributes }}>
          <div class="benefits-item text-center">
            <div class="benefits-item__img">
              {% if block.settings.image != blank %}
                {%
                  render 'image',
                  src: block.settings.image,
                  m: '50x50',
                  crop: 'center',
                  alt: block.settings.image.alt,
                  lazyload: enable_lazyload
                %}
              {% else %}
                {{ 'image' | placeholder_svg_tag: 'placeholder-svg' }}
              {% endif %}
            </div>
            {% if block.settings.title != blank %}
              <h2 class="h6">{{ block.settings.title }}</h2>
            {% endif %}
          </div>
        </div>
      {% endfor %}
    </div>
  </div>
</div>

{% schema %}
{
  "name": "Benefits",
  "settings": [],
  "blocks": [
    {
      "type": "image",
      "name": "Benefit",
      "settings": [
        {
          "type": "image_picker",
          "id": "image",
          "label": "Image"
        },
        {
          "type": "checkbox",
          "id": "enable_lazyload",
          "label": "Enable lazyload",
          "default": true
        },
        {
          "type": "text",
          "id": "title",
          "label": "Heading",
          "default": "Ultra-speed Connection"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "Benefits",
      "category": "Text",
      "blocks": [
        {
          "type": "image"
        },
        {
          "type": "image"
        },
        {
          "type": "image"
        },
        {
          "type": "image"
        },
        {
          "type": "image"
        },
        {
          "type": "image"
        }
      ]
    }
  ]
}
{% endschema %}
