{% if section.blocks.size > 0 %}
  <section class="section">
    <div class="container">
      {% if section.settings.title != blank %}
        <h2 class="text-center">{{ section.settings.title }}</h2>
      {% endif %}
      <div class="grid md:grid-cols-3 gap-4">
        {% for block in section.blocks %}
          {% assign collection = collections[block.settings.collection] %}
          {% if collection != blank %}
            <div {{ block.shopify_attributes }}>
              <a href="{{ collection.url }}" class="collection-list-item block relative">
                <div class="collection-list-item__img image-container">
                  {%
                    render 'image',
                    src: collection.image,
                    d: '413x',
                    src_m: collection.image,
                    m: '345x',
                    placeholder: 'img-placeholder.png',
                    alt: collection.image.alt
                  %}
                </div>
                <div class="collection-list-item__text-box flex items-center justify-center text-center customizable-base-text">
                  <h3 class="collection-list-item__title mb-0">{{ collection.title }}</h3>
                </div>
              </a>
            </div>
          {% endif %}
        {% endfor %}
      </div>
    </div>
  </section>
{% endif %}

{% schema %}
{
  "name": "Collections list",
  "settings": [
    {
      "type": "text",
      "id": "title",
      "label": "Heading",
      "default": "Collections list"
    }
  ],
  "blocks": [
    {
      "name": "Collection",
      "type": "collection",
      "settings": [
        {
          "type": "collection",
          "id": "collection",
          "label": "Collection"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "Collections list",
      "category": "Collection",
      "blocks": [
        {
          "type": "collection"
        },
        {
          "type": "collection"
        },
        {
          "type": "collection"
        }
      ]
    }
  ]
}
{% endschema %}
