<section class="section feature-block">
  <div class="container">
    <div class="md:flex md:items-center {{ section.settings.layout }} md:space-x-8">
      <div class="md:w-1/2">
        <div class="feature-block__img">
          {%- if section.settings.image != blank -%}
            {% liquid
              if section.settings.enable_lazyload
                assign enable_lazyload = true
              else
                assign enable_lazyload = false
              endif

              render 'image', src: section.settings.image, m: "330x", src_d: section.settings.image, d: "689x", alt: section.settings.image.alt, lazyload: enable_lazyload
            %}
          {%- else -%}
            {{ 'image' | placeholder_svg_tag: "placeholder-svg" }}
          {%- endif -%}
        </div>
      </div>
      <div class="md:w-1/2">
        <div class="rte">
          {% for block in section.blocks %}
            {% case block.type %}
              {% when "title" %}
                {%- if block.settings.title != blank -%}
                  <h2>{{ block.settings.title }}</h2>
                {%- endif -%}
              {% when "text" %}
                {{ block.settings.text }}
              {% when "button" %}
                {%- if block.settings.button_link != blank and block.settings.button_label != blank -%}
                  {%
                    render "button",
                    href: block.settings.button_link,
                    text: block.settings.button_label
                  %}
                {%- endif -%}
            {% endcase %}
          {% endfor %}
        </div>
      </div>
    </div>
  </div>
</section>

{% schema %}
{
  "name": "Image with text",
  "settings": [
    {
      "type": "image_picker",
      "id": "image",
      "label": "Image"
    },
    {
      "type": "checkbox",
      "id": "enable_lazyload",
      "label": "Enable lazyload",
      "default": true
    },
    {
      "type": "select",
      "id": "layout",
      "label": "Image alignment",
      "default": "",
      "options": [
        {
          "value": "",
          "label": "Left"
        },
        {
          "value": "md:flex-row-reverse md:space-x-reverse",
          "label": "Right"
        }
      ]
    }
  ],
  "blocks": [
    {
      "type": "button",
      "name": "Button Info",
      "limit": 1,
      "settings": [
        {
          "type": "url",
          "id": "button_link",
          "label": "Button link"
        },
        {
          "type": "text",
          "id": "button_label",
          "label": "Button label",
          "default": "Shop now"
        }
      ]
    },
    {
      "type": "title",
      "name": "Title",
      "limit": 1,
      "settings": [
        {
          "type": "text",
          "id": "title",
          "label": "Heading",
          "default": "Image with text"
        }
      ]
    },
    {
      "type": "text",
      "name": "Text",
      "limit": 1,
      "settings": [
        {
          "type": "richtext",
          "id": "text",
          "label": "Body text",
          "default": "<p>Pair large text with an image to give focus to your chosen product, collection, or blog post. Add details on availability, style, or even provide a review.</p>"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "Image with text",
      "category": "Image"
    }
  ]
}
{% endschema %}
