{% liquid
  assign collection = collections[section.settings.collection]
  assign product_limit = section.settings.product_limit

  assign desktop_grid_item_width = 'lg:grid-cols-' | append: section.settings.desktop_grid
  case section.settings.desktop_grid
    when 1
      assign image_sizes_desktop = '1410'
    when 2
      assign image_sizes_desktop = '689'
    when 3
      assign image_sizes_desktop = '449'
    when 4
      assign image_sizes_desktop = '329'
    when 5
      assign image_sizes_desktop = '256'
  endcase

  if section.settings.layout_slider_on_mobile == "slider" and section.settings.mobile_grid == "2"
    assign mobile_grid_item_width = 'grid--2-col-mobile'
  else
    assign mobile_grid_item_width = 'grid-cols-' | append: section.settings.mobile_grid
  endif

  case section.settings.mobile_grid
    when '1'
      assign image_sizes_mobile = '330'
    when '2'
      assign image_sizes_mobile = '155'
  endcase
%}

<div class="section">
  <div class="container">
    {% if section.settings.title != blank %}
      <h3 class="mb-4 text-center">{{ section.settings.title }}</h3>
    {% endif %}
    <div class="{% if section.settings.layout_slider_on_mobile == "slider" %}featured-collection__gallery flex flex-nowrap space-x-5 lg:grid lg:gap-x-5 lg:gap-y-8 lg:space-x-0 xl:gap-x-8 {% else %}grid gap-5 gap-y-8 xl:gap-x-8{% endif %} {{ mobile_grid_item_width }} {{ desktop_grid_item_width }}">
      {% liquid
        for product in collection.products limit: product_limit
          if section.settings.enable_lazyload
            assign enable_lazyload = true
            assign fetchpriority_value = 'low'
          elsif section.settings.enable_lazyload == false and forloop.first
            assign enable_lazyload = false
            assign fetchpriority_value = 'high'
          else
            assign enable_lazyload = true
            assign fetchpriority_value = 'low'
          endif

          render "product-card", product: product, grid_item_width: '', image_sizes_mobile: image_sizes_mobile, image_sizes_desktop: image_sizes_desktop, show_vendor: section.settings.show_vendor, enable_lazyload: enable_lazyload, image_ratio: section.settings.image_ratio, fetchpriority_value: fetchpriority_value
        else
          for i in (1..product_limit)
            capture current
              cycle 1, 2, 3, 4, 5, 6
            endcapture
            render "product-card--empty", index: current, grid_item_width: '', image_sizes_mobile: image_sizes_mobile, image_sizes_desktop: image_sizes_desktop, image_ratio: section.settings.image_ratio
          endfor
        endfor
      %}
    </div>

    {%- if section.settings.show_view_all and collection != blank -%}
      {% assign button_label = 'collections.general.view_all' | t %}
      <div class="pt-8 text-center">
        {%
          render 'button',
          href: collection.url,
          text: button_label
        %}
      </div>
    {%- endif -%}
  </div>
</div>

{% schema %}
{
  "name": "Featured collection",
  "settings": [
    {
      "type": "text",
      "id": "title",
      "label": "Heading",
      "default": "Featured collection"
    },
    {
      "id": "collection",
      "type": "collection",
      "label": "Collection"
    },
    {
      "type": "select",
      "id": "layout_slider_on_mobile",
      "label": "Layout slider on mobile",
      "default": "column",
      "options": [
        {
          "value": "slider",
          "label": "Slider"
        },
        {
          "value": "column",
          "label": "Column"
        }
      ]
    },
    {
      "type": "select",
      "id": "image_ratio",
      "label": "Image ratio",
      "default": "",
      "options": [
        {
          "value": "",
          "label": "Adapt to image"
        },
        {
          "value": "product-item--portrait",
          "label": "Portrait"
        },
        {
          "value": "product-item--square",
          "label": "Square"
        }
      ]
    },
    {
      "type": "range",
      "id": "desktop_grid",
      "label": "Products per row for desktop",
      "min": 1,
      "max": 5,
      "step": 1,
      "default": 4
    },
    {
      "type": "select",
      "id": "mobile_grid",
      "label": "Products per row for mobile",
      "default": "1",
      "options": [
        {
          "value": "1",
          "label": "One product in row"
        },
        {
          "value": "2",
          "label": "Two products in row"
        }
      ]
    },
    {
      "type": "range",
      "id": "product_limit",
      "label": "Product limit",
      "min": 1,
      "max": 20,
      "step": 1,
      "default": 2
    },
    {
      "type": "checkbox",
      "id": "enable_lazyload",
      "label": "Enable lazyload",
      "default": true
    },
    {
      "type": "checkbox",
      "id": "show_vendor",
      "label": "Show product vendor",
      "default": true
    },
    {
      "type": "checkbox",
      "id": "show_view_all",
      "label": "Show 'View all' button",
      "default": true
    }
  ],
  "presets": [
    {
      "name": "Featured collection",
      "category": "Collection"
    }
  ]
}
{% endschema %}
