{% liquid
  assign collection = collections[section.settings.collection]
  assign product_limit = section.settings.grid | times: section.settings.rows

  case section.settings.grid
    when 2
      assign grid_item_width = 'grid-cols-1 sm:grid-cols-2'
    when 3
      assign grid_item_width = 'grid-cols-1 sm:grid-cols-2 lg:grid-cols-3'
    when 4
      assign grid_item_width = 'grid-cols-1 sm:grid-cols-2 lg:grid-cols-4'
  endcase
%}

<div class="section">
  <div class="container">
    {% if section.settings.title != blank %}
      <h3 class="text-center">{{ section.settings.title }}</h3>
    {% endif %}
    <div class="{% if section.settings.layout_slider_on_mobile == 'slider' %}featured-collection__gallery flex flex-nowrap mb-5 sm:mb-0 space-x-6 sm:grid sm:gap-x-8{% else %}grid gap-x-8{% endif %} {{ grid_item_width }}">
      {% liquid
        for product in collection.products limit: product_limit
          render "product-card", product: product, grid_item_width: ''
        else
          for i in (1..product_limit)
            capture current
              cycle 1, 2, 3, 4, 5, 6
            endcapture
            render "product-card--empty", index: current, grid_item_width: ''
          endfor
        endfor
      %}
    </div>

    {%- if section.settings.show_view_all -%}
      {% assign button_label = 'collections.general.view_all' | t %}
      <div class="sm:pt-4 text-center">
        {%
          render 'button',
          href: collection.url,
          text: button_label
        %}
      </div>
    {%- endif -%}
  </div>
</div>

{% schema %}
{
  "name": "Featured collection",
  "settings": [
    {
      "type": "text",
      "id": "title",
      "label": "Heading",
      "default": "Featured collection"
    },
    {
      "id": "collection",
      "type": "collection",
      "label": "Collection"
    },
    {
      "type": "select",
      "id": "layout_slider_on_mobile",
      "label": "Layout slider on mobile",
      "default": "column",
      "options": [
        {
          "value": "slider",
          "label": "Slider"
        },
        {
          "value": "column",
          "label": "Column"
        }
      ]
    },
    {
      "type": "range",
      "id": "grid",
      "label": "Products per row",
      "min": 2,
      "max": 4,
      "step": 1,
      "default": 4
    },
    {
      "type": "range",
      "id": "rows",
      "label": "Rows",
      "min": 1,
      "max": 5,
      "step": 1,
      "default": 2
    },
    {
      "type": "checkbox",
      "id": "show_view_all",
      "label": "Show 'View all' button",
      "default": true
    }
  ],
  "presets": [
    {
      "name": "Featured collection",
      "category": "Collection"
    }
  ]
}
{% endschema %}
