<div class="section benefits-list">
  <div class="container">
    <div class="lg:flex">
      <div class="lg:w-10/12 mx-auto">

        <div class="md:flex md:items-center md:space-x-8">
          <div class="md:w-6/12 mb-5 md:mb-0 text-center md:text-left rte">
            {% for block in section.blocks %}
              {% case block.type %}
                {% when "title" %}
                  <h2>{{ block.settings.title }}</h2>
                {% when "text" %}
                  <div class="benefits-list__text-box">
                    {{ block.settings.text }}
                  </div>
              {% endcase %}
            {% endfor %}
          </div>
          {% for block in section.blocks %}
            {% case block.type %}
              {% when "html" %}
                <div class="md:w-6/12">
                  <div class="rte">
                    {{ block.settings.html }}
                  </div>
                </div>
              {% else %} 
            {% endcase %}
          {% endfor %}
        </div>
      </div>
    </div>
  </div>
</div>

{% schema %}
{
  "name": "Benefits with text",
  "blocks": [
    {
      "type": "title",
      "name": "Title",
      "limit": 1,
      "settings": [
        {
          "type": "text",
          "id": "title",
          "label": "Heading",
          "default": "Unlimited Phone Data\" Is Not \"Unlimited Home Data"
        }
      ]
    },
    {
      "type": "text",
      "name": "Text",
      "limit": 1,
      "settings": [
        {
          "type": "richtext",
          "id": "text",
          "label": "Body text",
          "default": "<p>Purus ut faucibus pulvinar elementum integer. Lorem mollis aliquam ut porttitor leo a diam sollicitudin. Molestie ac feugiat sed lectus vestibulum mattis ullamcorper velit.</p>"
        }
      ]
    },
    {
      "type": "html",
      "name": "HTML",
      "limit": 1,
      "settings": [
        {
          "type": "html",
          "id": "html",
          "label": "HTML",
          "default": "<ul class=\"benefits-list__items list-checks\">\n                <li>Unlimited Wi-Fi for EVERY connected device</li>\n                <li>14 Day, No Risk, Money-Back Guarantee</li>\n                <li>Human Support</li>\n                <li>Rich Documentation</li>\n                <li>Unlimited Phone Data</li>\n              </ul>"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "Benefits with text",
      "category": "Text"
    }
  ]
}
{% endschema %}
