{% if section.blocks.size > 0 %}
  <section class="section" style="height: 5000px;">
    <div class="container">
      <div class="md:flex md:justify-center">
        <div class="md:w-8/12">
          <div class="rich-text-section rte text-center">
            {% for block in section.blocks %}
              {% case block.type %}
                {% when 'title' %}
                  <h2 class="h3">{{ block.settings.title }}</h2>
                {% when 'copy' %}
                  {{ block.settings.copy }}
              {% endcase %}
            {% endfor %}

            <div class="also-has-sticky-states" data-sticky-container="#shopify-section-template--14156276236355__164000139349faafec">
              <div class="also-sticky-content">
                <p>
                  Lorem ipsum dolor sit amet consectetur adipisicing elit. Perferendis natus corporis maxime, dolores delectus nesciunt molestiae commodi velit consectetur ratione autem fuga, inventore quam assumenda voluptate fugiat. Excepturi, ut assumenda.
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
{% endif %}

<style>
  .fixed-position .also-sticky-content {
    position: fixed;
    z-index: 1;
  }

  .is-sticky--top .also-sticky-content {
    top: 0;
  }

  .is-end-position .also-sticky-content {
    position: absolute;
  }
</style>

{% schema %}
{
  "name": "Richtext",
  "settings": [

  ],
  "blocks": [
    {
      "type": "title",
      "name": "Title",
      "settings": [
        {
          "type": "text",
          "id": "title",
          "label": "Heading",
          "default": "Talk about your brand"
        }
      ]
    },
    {
      "type": "copy",
      "name": "Text",
      "settings": [
        {
          "type": "richtext",
          "id": "copy",
          "label": "Richtext",
          "default": "<p>Use this text to share information about your brand with your customers. Describe a product, share announcements, or welcome customers to your store.</p>"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "Richtext",
      "category": "Text",
      "blocks": [
        {
          "type": "title"
        },
        {
          "type": "copy"
        }
      ]
    }
  ]
}
{% endschema %}
