<section class="section feature-block">
  <div class="container">
    <div class="md:flex md:items-center {{ section.settings.layout }} md:space-x-8">
      <div class="md:w-1/2">
        <div class="feature-block__img">
          {%- if section.settings.image != blank -%}
            {% render "image",
            src: section.settings.image,
            d: "635x794",
            src_m: section.settings.image,
            m: "345x431",
            alt: section.settings.image.alt,
            placeholder: 'img-placeholder.png',
            p_d: '635x794',
            p_m: '345x431'
            %}
          {%- else -%}
            {{ 'image' | placeholder_svg_tag: "placeholder-svg" }}
          {%- endif -%}
        </div>
      </div>
      <div class="md:w-1/2">
        <div class="rte">
          {%- if section.settings.title != blank -%}
            <h2>{{ section.settings.title }}</h2>
          {%- endif -%}
          {{ section.settings.text }}
          {%- if section.settings.button_link != blank and section.settings.button_label != blank -%}
            {% render "button",
              href: section.settings.button_link,
              text: section.settings.button_label
            %}
          {%- endif -%}
        </div>
      </div>
    </div>
  </div>
</section>

{% schema %}
{
  "name": "Image with text",
  "settings": [
    {
      "type": "image_picker",
      "id": "image",
      "label": "Image"
    },
    {
      "type": "select",
      "id": "layout",
      "label": "Image alignment",
      "default": "",
      "options": [
        {
          "value": "",
          "label": "Left"
        },
        {
          "value": "md:flex-row-reverse md:space-x-reverse",
          "label": "Right"
        }
      ]
    },
    {
      "type": "text",
      "id": "title",
      "label": "Heading",
      "default": "Image with text"
    },
    {
      "type": "richtext",
      "id": "text",
      "label": "Body text",
      "default": "<p>Pair large text with an image to give focus to your chosen product, collection, or blog post. Add details on availability, style, or even provide a review.</p>"
    },
    {
      "type": "text",
      "id": "button_label",
      "label": "Button label",
      "default": "Shop now"
    },
    {
      "type": "url",
      "id": "button_link",
      "label": "Button link"
    }
  ],
  "presets": [
    {
      "name": "Image with text",
      "category": "Image"
    }
  ]
}
{% endschema %}
