{% liquid
  assign product_placeholder = 'collections.general.product' | t
  assign products_placeholder = 'collections.general.products' | t
%}
<div class="section">
  <div class="container">
    <div class="page-title-block text-center">
      <h1 class="h2">{{ page_title }}</h1>
    </div>
    <div class="grid grid-cols-1 gap-8 sm:grid-cols-2 xl:grid-cols-4">
      {% liquid
        if section.blocks.size > 0
          for block in section.blocks
            assign collection = block.settings.collection
            if block.settings.collection_image != blank
              assign image = block.settings.collection_image
            else
              assign image = collection.image | default: collection.products[0].featured_image
            endif

            if collection != blank
              render 'collections-list-block', collection: collection, block: block, image: image
            endif
          endfor
        else
          for collection in collections
            assign image = collection.image | default: collection.products[0].featured_image

            render 'collections-list-block', collection: collection, image: image
          endfor
        endif
      %}
    </div>
  </div>
</div>

{% schema %}
{
  "name": "Collection list",
  "settings": [
    {
      "type": "header",
      "content": "Layout"
    },
    {
      "type": "select",
      "id": "layout_mobile",
      "label": "Mobile layout",
      "default": "grid",
      "info": "Only applies to mobile",
      "options": [
        {
          "value": "slider",
          "label": "Slider"
        },
        {
          "value": "grid",
          "label": "Columns"
        }
      ]
    },
    {
      "type": "text",
      "id": "title",
      "label": "Heading",
      "default": "Collections"
    },
    {
      "type": "header",
      "content": "Button"
    },
    {
      "type": "text",
      "id": "btn_text",
      "label": "Button text",
      "default": "View all"
    },
    {
      "type": "url",
      "id": "btn_url",
      "label": "Button link"
    }
  ],
  "blocks": [
    {
      "name": "Collection",
      "type": "collection",
      "settings": [
        {
          "type": "collection",
          "id": "collection",
          "label": "Collection"
        },
        {
          "type": "image_picker",
          "id": "collection_image",
          "label": "Collection image"
        }
      ]
    }
  ]
}
{% endschema %}
