{% if section.settings.show_title or page.content != blank %}
  <div class="section">
    <div class="container">
      {% if section.settings.show_title %}
        <div class="page-title-block text-center">
          <h1>{{ page.title }}</h1>
        </div>
      {% endif %}

      {% if page.content != blank %}
        <div class="rte">
          {{ page.content }}
        </div>
      {% endif %}
    </div>
  </div>
{% endif %}

{% schema %}
{
  "name": "Page",
  "settings": [
    {
      "type": "checkbox",
      "id": "show_title",
      "label": "Show page title",
      "default": true
    }
  ]
}
{% endschema %}
