<div class="section plans">
  <div class="container">
    <div class="plans__heading-box text-center">
      <h2>Choose your plan</h2>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore.</p>
    </div>
    <div class="plans__items-row">
      <div class="row">
        <div class="col-md-4">
          <div class="plan-item text-center">
            <div class="mb-2">Internet</div>
            <h3 class="h5 plan-item__title">Easy Surfing</h3>
            <div class="plan-item__img">
              {% render
                'image',
                asset_img_url: true,
                src: 'img-placeholder.png',
                d: '50x',
                placeholder: 'img-placeholder.png',
                p_d: '50x',
                crop: 'center',
              %}
            </div>
            <div class="plan-item__list list-checks-block text-left">
              <ul>
                <li>Up to 50Mbps</li>
                <li>Night Turbo-Speed</li>
                <li>WiFi router</li>
                <li>Unlimited devices</li>
              </ul>
            </div>
            <ul class="plan-item__price">
              <li>$24.99</li>
              <li>month</li>
            </ul>
            <a href="#" class="button w-100">Get started</a>
          </div>
        </div>
        <div class="col-md-4">
          <div class="plan-item text-center">
            <div class="mb-2">TV</div>
            <h3 class="h5 plan-item__title">Impression</h3>
            <div class="plan-item__img">
              {% render
                'image',
                asset_img_url: true,
                src: 'img-placeholder.png',
                d: '50x',
                placeholder: 'img-placeholder.png',
                p_d: '50x',
                crop: 'center',
              %}
            </div>
            <div class="plan-item__list list-checks-block text-left">
              <ul>
                <li>200+ chanels</li>
                <li>5 adult chanels</li>
                <li>TV-Box</li>
                <li>Unlimited rooms</li>
              </ul>
            </div>
            <ul class="plan-item__price">
              <li>$39.99</li>
              <li>month</li>
            </ul>
            <a href="#" class="button w-100">Get started</a>
          </div>
        </div>
        <div class="col-md-4">
          <div class="plan-item text-center">
            <div class="mb-2">Internet + TV</div>
            <h3 class="h5 plan-item__title">Home Comfort</h3>
            <div class="plan-item__img">
              {% render
                'image',
                asset_img_url: true,
                src: 'img-placeholder.png',
                d: '50x',
                placeholder: 'img-placeholder.png',
                p_d: '50x',
                crop: 'center',
              %}
            </div>
            <div class="plan-item__list list-checks-block text-left">
              <ul>
                <li>200+ chanels</li>
                <li>5 adult chanels</li>
                <li>TV-Box</li>
                <li>Unlimited rooms</li>
              </ul>
            </div>
            <ul class="plan-item__price">
              <li>$49.99</li>
              <li>month</li>
            </ul>
            <a href="#" class="button w-100">Get started</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>