{% render 'breadcrumbs' %}
<section data-section-id="{{ section.id }}" class="section page-section" data-section-type="product-variants-swatcher"></section>

{% render "dynamic-checkout" with product %}

<script type="application/json" id="product-json">
  {% render 'product-json' %}
</script>

{% render "section-json", settings_id: "product-settings" %}

{% render 'schema' %}

{% schema %}
{
  "name": "Product pages",
  "settings": [
    {
      "type": "checkbox",
      "id": "show_share_buttons",
      "label": "Show social sharing buttons",
      "default": true
    },
    {
      "type": "select",
      "id": "swatcher_type",
      "label": "Swatchers Type",
      "options": [
        {
          "value": "variants",
          "label": "Variants"
        },
        {
          "value": "products",
          "label": "Products"
        }
      ],
      "default": "products"
    }
  ]
}
{% endschema %}
