<div class="section">
  <div class="container">
    <div class="rich-text-section rte text-center mx-auto">
      <h2 class="h3">Talk about your brand</h2>
      <p>Use this text to share information about your brand with your customers. Describe a product, share announcements, or welcome customers to your store.</p>
    </div>
  </div>
</div>