<div class="section">
  <div class="container">
    <h2 class="text-center">Heading</h2>
    <div class="swiper-container testimonials-slider">
      <div class="swiper-wrapper">
        <div class="swiper-slide">
          <blockquote class=" testimonials-slider__blockquote text-center">
            <div class="testimonials-slider__icon">
              {%- include 'icon' with 'quote' -%}
            </div>
            <div class="testimonials-slider__text-block rte">
              <p>Add customer reviews and testimonials to showcase your store’s happy customers.</p>
            </div>
            <cite>Author's name</cite>
          </blockquote>
        </div>
        <div class="swiper-slide">
          <blockquote class=" testimonials-slider__blockquote text-center">
            <div class="testimonials-slider__icon">
              {%- include 'icon' with 'quote' -%}
            </div>
            <div class="testimonials-slider__text-block rte">
              <p>Add customer reviews and testimonials to showcase your store’s happy customers.</p>
            </div>
            <cite>Author's name</cite>
          </blockquote>
        </div>
        <div class="swiper-slide">
          <blockquote class=" testimonials-slider__blockquote text-center">
            <div class="testimonials-slider__icon">
              {%- include 'icon' with 'quote' -%}
            </div>
            <div class="testimonials-slider__text-block rte">
              <p>Add customer reviews and testimonials to showcase your store’s happy customers.</p>
            </div>
            <cite>Author's name</cite>
          </blockquote>
        </div>
        <div class="swiper-slide">
          <blockquote class=" testimonials-slider__blockquote text-center">
            <div class="testimonials-slider__icon">
              {%- include 'icon' with 'quote' -%}
            </div>
            <div class="testimonials-slider__text-block rte">
              <p>Add customer reviews and testimonials to showcase your store’s happy customers.</p>
            </div>
            <cite>Author's name</cite>
          </blockquote>
        </div>
      </div>
      <div class="swiper-pagination"></div>
    </div>
  </div>
</div>