<section class="section">
  <div class="container">
    <h2 class="text-center">Text columns with images</h2>
    <div class="row mb-n5">
      <div class="col-md-4 mb-5">
        <div class="mb-2 image-container">
          {% render
            'image',
            asset_img_url: true,
            src: 'img-placeholder.png',
            d: '413x',
            src_m: 'img-placeholder.png',
            m: '345x',
            placeholder: 'img-placeholder.png',
          %}
        </div>
        <h3 class="mb-2">Add a title or tagline</h3>
        <div class="rte mb-3">
          <p>Share blog posts, products, or promotions with your customers. Use this text to describe products, share details on availability and style, or as a space to display recent reviews or FAQs.</p>
        </div>
        {% render "button",
          element: 'a',
          href: '#',
          text: 'Read more',
        %}
      </div>
      <div class="col-md-4 mb-5">
        <div class="mb-2 image-container">
          {% render
            'image',
            asset_img_url: true,
            src: 'img-placeholder.png',
            d: '413x',
            src_m: 'img-placeholder.png',
            m: '345x',
            placeholder: 'img-placeholder.png',
          %}
        </div>
        <h3 class="mb-2">Add a title or tagline</h3>
        <div class="rte mb-3">
          <p>Share blog posts, products, or promotions with your customers. Use this text to describe products, share details on availability and style, or as a space to display recent reviews or FAQs.</p>
        </div>
        {% render "button",
          element: 'a',
          href: '#',
          text: 'Read more',
        %}
      </div>
      <div class="col-md-4 mb-5">
        <div class="mb-2 image-container">
          {% render
            'image',
            asset_img_url: true,
            src: 'img-placeholder.png',
            d: '413x',
            src_m: 'img-placeholder.png',
            m: '345x',
            placeholder: 'img-placeholder.png',
          %}
        </div>
        <h3 class="mb-2">Add a title or tagline</h3>
        <div class="rte mb-3">
          <p>Share blog posts, products, or promotions with your customers. Use this text to describe products, share details on availability and style, or as a space to display recent reviews or FAQs.</p>
        </div>
        {% render "button",
          element: 'a',
          href: '#',
          text: 'Read more',
        %}
      </div>
    </div>
  </div>
</section>