<div class="section video-section">
  <div class="container">
    <div class="video-section__holder">
      <div class="video-section__container">
        <div class="video-section__block customizable-base-text">
          <h2 class="mb-3">Heading</h2>
          <div class="mb-4">Subheading</div>
          {% render
            'button',
            element: 'a',
            href: '#',
            text: 'Button',
          %}
        </div>
        <iframe src="https://player.vimeo.com/video/87110435?title=0&muted=1&autopause=0&loop=1&background=1&app_id=122963&autoplay=1&loop=1" width="640" height="360" frameborder="0" allow="autoplay; fullscreen" allowfullscreen="" title="Video Placeholder" data-ready="true" tabindex="-1"></iframe>
      </div>
    </div>
  </div>
</div>