// forms

form,
fieldset {
  margin: 0;
  padding: 0;
  border-style: none;
}

input[type='text'],
input[type='tel'],
input[type='email'],
input[type='search'],
input[type='password'],
input[type='number'],
//input[type='url'],
// input[type='date'],
textarea {
  -webkit-appearance: none;
  -webkit-border-radius: 0;
  box-sizing: border-box;
  display: block;
  width: 100%;
  height: $height-form-elements;
  padding: $form-element-padding;
  font-size: $font-size-base;
  letter-spacing: 0.03em;
  border: 1px solid $form-element-border-color;

  // &:focus {
  //   border-color: $form-element-focus-border-color;
  // }

  &:-webkit-autofill {
    filter: none;
    -webkit-box-shadow: 0 0 0 1000px white inset !important;
    box-shadow: 0 0 0 1000px white inset !important;
  }

  @include placeholder {
    color: $placeholder-color;
  }
}

input[type='number'] {
  width: 70px;
}

select {
  -webkit-border-radius: 0;
  box-sizing: border-box;
  height: $height-form-elements;
  padding: $form-element-padding;
  padding-top: 0;
  padding-bottom: 0;
  font-size: $font-size-base - 2px;
  line-height: 1.3;
  letter-spacing: 0.05em;
  background: $base-background-color;
  border: 1px solid $form-element-border-color;
  
  // &:focus {
  //   border-color: $form-element-focus-border-color;
  // }
}

.select-holder {
  position: relative;

  &:after {
    @include triangle(8px 6px, $black, down);
    content: '';
    position: absolute;
    right: 12px;
    top: 50%;
    transform: translateY(-50%);
  }

  select {
    -webkit-appearance: none;
    appearance: none;
  }

  select::-ms-expand {
    display: none;
  }
}

textarea {
  resize: vertical;
  vertical-align: top;
  min-height: 150px;
  max-height: 300px;
  height: 150px;
}

button,
.button,
input[type='button'],
input[type='reset'],
// input[type='file'],
input[type='submit'] {
  -webkit-appearance: none;
  -webkit-border-radius: $btn-border-radius;
  box-sizing: border-box;
  min-width: 178px;
  min-height: $height-form-elements;
  padding: 10px 15px;
  color: $btn-color;
  font-family: $font-heading;
  line-height: 1;
  text-align: center;
  text-transform: uppercase;
  background: $btn-background;
  border: 1px solid $btn-border-color;
  border-radius: $btn-border-radius;
  cursor: pointer;
  &.button--lg {
    min-height: $height-button-large;
    padding-top: 14px;
    padding-bottom: 14px;
  }
  &.button--sm {
    font-size: $font-size-base;
    min-height: $height-button-small;
    padding-top: 7px;
    padding-bottom: 7px;
  }
  &.btn--with-icon {
    display: inline-flex;
    align-items: center;
    justify-content: space-between;

    .icon {
      margin-left: 7px;
    }
  }

  &:hover,
  &:focus {
    color: $btn-hover-color;
    background: $btn-hover-background;
    border-color: $btn-hover-border-color;
  }

  &:focus {
    color: $btn-focus-color;
    background: $btn-focus-background;
    border-color: $btn-focus-border-color;
    outline: 1px dashed $btn-focus-border-color;
    outline-offset: 3px;
  }

  &.disabled,
  &:disabled {
    color: $secondary;
    background: $light;
    border-color: $light;
    pointer-events: none;
    cursor: default;
    outline: none !important;
  }

  &.default {
    color: $base-text-color;
    min-width: 0;
    min-height: 0;
    width: auto;
    height: auto;
    padding: 0;
    margin: 0;
    background: none;
    border: none;
  }

  &.btn {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    min-width: $height-button-medium;
    padding: 6px;
    &.button--lg {
      min-width: $height-button-large;
    }
    &.button--sm {
      min-width: $height-button-small;
    }
  }

  .icon {
    margin: -3px 0;
    width: 16px;
    height: 16px;
  }
}

a.button {
  display: inline-block;
  vertical-align: top;
  padding-top: 10px;
  padding-bottom: 10px;
  line-height: 1.2;
  text-decoration: none;
  &.button--lg {
    padding-top: 14px;
    padding-bottom: 14px;
  }
  &.button--sm {
    padding-top: 7px;
    padding-bottom: 7px;
  }
}

.input-holder {
  margin: 0 0 20px;

  @include media("≥desktop") {
    margin: 0 0 30px;
  }
}

.label {
  display: inline-block;
  vertical-align: top;
  margin: 0 0 5px;
}

.page-search-form__button {
  margin-left: 12px;
  min-height: $height-form-elements;

  @include media("≥desktop") {
    margin-left: 30px;
  }

  svg {
    width: 18px;
    height: 18px;
    margin: 0;
    fill: currentColor;
  }
}

.additional-checkout-buttons {

  [data-shopify-buttoncontainer] {

    div[role="button"] {
      width: 100%;
      height: 50px !important;
      border-radius: 0 !important;

      &:hover,
      &:focus {
        opacity: 0.8;
      }
    }
  }
}

#icButton {
  width: 100%;
  min-height: 50px !important;
  border-radius: 0 !important;

  .button {
    min-height: 50px !important;
    padding: 18px 10px 19px;

    &:hover,
    &:focus {
      opacity: 0.8;
    }
  }
}

.shopify-payment-button__button--unbranded.shopify-payment-button__button--unbranded {
  -webkit-appearance: none;
  -webkit-border-radius: 0;
  box-sizing: border-box;
  min-width: 180px;
  min-height: $height-form-elements;
  padding: 12px 30px;
  color: $checkout-btn-color;
  line-height: 1;
  text-align: center;
  text-transform: uppercase;
  background: $checkout-btn-background;
  border: 1px solid $checkout-btn-border-color;
  border-radius: 0;
  cursor: pointer;

  &:hover {
    color: $checkout-btn-hover-color !important;
    background: $checkout-btn-hover-background !important;
    border-color: $checkout-btn-hover-border-color !important;
  }

  &:focus {
    color: $checkout-btn-focus-color;
    background: $checkout-btn-focus-background;
    border-color: $checkout-btn-focus-border-color;
    outline: 1px dashed $checkout-btn-focus-border-color;
    outline-offset: 3px;
  }

  &.disabled {
    color: $white;
    background: $gray;
    pointer-events: none;
    cursor: default;
  }
}
