/* forms */

form,
fieldset {
  margin: 0;
  padding: 0;
  border-style: none;
}

input[type="text"],
input[type="tel"],
input[type="email"],
input[type="search"],
input[type="password"],
input[type="number"],
// input[type='url'],
// input[type='date'],
textarea {
  -webkit-appearance: none;
  display: block;
  box-sizing: border-box;
  width: 100%;
  height: $height-form-elements;
  padding: $form-element-padding;
  font-size: $font-size-base;
  background: $base-body-background;
  border: 1px solid $form-element-border-color;
  -webkit-border-radius: $form-element-border-radius;
  border-radius: $form-element-border-radius;
  &:-webkit-autofill {
    -webkit-box-shadow: 0 0 0 1000px #fff inset !important;
    box-shadow: 0 0 0 1000px #fff inset !important;
    filter: none;
  }
  &:focus,
  &:active {
    border-color: $form-element-focus-border-color;
  }

  @include placeholder {
    color: $placeholder-color;
  }
}

input[type="number"] {
  width: 70px;
}

/* Remove extra spacing for search inputs in Safari */
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

select {
  box-sizing: border-box;
  height: $height-form-elements;
  padding: $form-element-padding;
  padding-top: 0;
  padding-bottom: 0;
  font-size: $font-size-base - 2px;
  line-height: 1.3;
  background: $base-background-color;
  border: 1px solid $form-element-border-color;
  -webkit-border-radius: $form-element-border-radius;
  border-radius: $form-element-border-radius;
}

.select-holder {
  position: relative;
  &::after {
    content: "";
    position: absolute;
    top: 50%;
    right: 23px;
    z-index: 2;
    width: 8px;
    height: 8px;
    margin-top: -6px;
    border-width: 0 0 2px 2px;
    border-style: solid;
    border-color: $base-icons;
    cursor: pointer;
    pointer-events: none;
    transform: rotate(-45deg);
  }
  &:focus-within {
    &::after {
      margin-top: -1px;
      transform: rotate(135deg);
    }
  }

  select {
    display: block;
    width: 100%;
    padding: 0 40px 0 12px;
    -webkit-appearance: none;
    appearance: none;
  }

  select::-ms-expand {
    display: none;
  }
}

textarea {
  vertical-align: top;
  height: 88px;
  min-height: 88px;
  max-height: 300px;
  border-radius: 0;
  resize: vertical;
}

.button,
input[type="reset"],
input[type="submit"] {
  @extend %button-large;
  -webkit-appearance: none;
  display: inline-block;
  vertical-align: top;
  box-sizing: border-box;
  min-width: 65px;
  min-height: $height-form-elements;
  padding: $button-padding;
  color: $primary-button-text;
  text-align: center;
  background: $primary-button-background;
  border: 1px solid $primary-button-border;
  -webkit-border-radius: $button-border-radius;
  border-radius: $button-border-radius;
  cursor: pointer;
  &.button--lg {
    min-height: $height-button-large;
    padding-top: 15px;
    padding-bottom: 15px;
  }
  &.button--sm {
    @extend %button-small;
    min-height: $height-button-small;
    padding-top: 9px;
    padding-bottom: 9px;
    font-size: $font-size-base;
  }
  &.btn--with-icon {
    display: inline-flex;
    align-items: center;
    justify-content: space-between;

    .icon {
      margin-left: 12px;
    }
  }
  &:hover {
    color: $primary-button-text-on-hover;
    background: $primary-button-background-on-hover;
    border-color: $primary-button-border-on-hover;
  }
  &:focus {
    color: $primary-button-text-on-focus;
    background: $primary-button-background-on-focus;
    border-color: $primary-button-border-on-focus;
    outline: 1px dashed $primary-button-border-on-focus;
    outline-offset: 3px;
  }
  &.disabled,
  &:disabled {
    color: $primary-button-text-on-disabled;
    background: $primary-button-background-on-disabled;
    border-color: $primary-button-border-on-disabled;
    outline: none !important;
    cursor: default;
    pointer-events: none;
  }
  &.default {
    width: auto;
    min-width: 0;
    height: auto;
    min-height: 0;
    margin: 0;
    padding: 0;
    font-weight: $font-body-weight;
    color: $base-body-text;
    background: none;
    border: none;
  }
  &.button--secondary {
    color: $secondary-button-text;
    background: $secondary-button-background;
    border-color: $secondary-button-border;
    &:hover {
      color: $secondary-button-text-on-hover;
      background: $secondary-button-background-on-hover;
      border-color: $secondary-button-border-on-hover;
    }
    &:focus {
      color: $secondary-button-text-on-focus;
      background: $secondary-button-background-on-focus;
      border-color: $secondary-button-border-on-focus;
      outline: 1px dashed $secondary-button-border-on-focus;
    }
    &.disabled,
    &:disabled {
      color: $secondary-button-text-on-disabled;
      background: $secondary-button-background-on-disabled;
      border-color: $secondary-button-border-on-disabled;
    }
  }
  &.btn {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    min-width: $height-button-medium;
    padding: 6px;
    &.button--lg {
      min-width: $height-button-large;
    }
    &.button--sm {
      min-width: $height-button-small;
    }
  }

  .icon {
    width: 16px;
    height: 16px;
    margin: -3px 0;
  }
}

a.button {
  display: inline-block;
  vertical-align: top;
  padding-top: 10px;
  padding-bottom: 10px;
  line-height: 1.375;
  text-decoration: none;
  &.button--lg {
    padding-top: 12px;
    padding-bottom: 12px;
  }
  &.button--sm {
    padding-top: 6px;
    padding-bottom: 6px;
    line-height: 1.375;
  }
}

.input-holder {
  position: relative;
  margin: 0 0 20px;
  &[data-aria-hidden=" true"] {
    display: none;
  }
}

.input-field {

  label {
    position: absolute;
    top: 14px;
    left: 16px;
    margin: 0;
    color: $base-secondary-text;
    pointer-events: none;
    transition: top $animation-speed ease, font-size $animation-speed ease, font-weight $animation-speed ease;
  }

  input,
  textarea {
    height: 52px;
    &:focus,
    &:not(:placeholder-shown),
    &:-webkit-autofill {
      padding-top: 24px;
      padding-bottom: 8px;

      ~ label {
        top: 9px;
        left: 16px;
        font-size: calc(#{$font-size-base} - 4px);
        font-weight: 600;

        .predictive-search & {
          top: 7px;
        }
      }
    }

    @include placeholder {
      opacity: 0;
    }
  }

  textarea {
    min-height: 97px;
  }
}

.label {
  display: inline-block;
  vertical-align: top;
  margin: 0 0 5px;
}

.custom-input {
  position: relative;
  &.custom-input--colors {

    input[type="checkbox"],
    input[type="radio"] {
      top: 0;
      width: 100%;
      height: 100%;
      &:checked,
      &:focus {

        + .custom-label {
          &::before {
            background: none;
            border-color: $base-body-text;
          }
        }
      }
      &:disabled,
      &.disabled {

        + .custom-label {
          &::before {
            background: none !important;
          }
          &::after {
            opacity: 1;
          }

          img {
            opacity: 0.6;
          }
        }
      }
    }
  }
  &.custom-input--colors-with-text {

    input[type="checkbox"],
    input[type="radio"] {
      top: 0;
      z-index: -1;
      width: 100%;
      height: 100%;
      &:checked {

        + .custom-label {

          .custom-label__img-holder {
            border-color: $base-body-text;
          }
        }
      }

      &:disabled,
      &.disabled {

        + .custom-label {
          text-decoration: none;

          .custom-label__img-holder {
            &::after {
              opacity: 1;
            }

            img {
              opacity: 0.6;
            }
          }
        }
      }
    }
  }
  &.custom-input--size {

    input[type="checkbox"],
    input[type="radio"] {
      top: 0;
      width: 100%;
      height: 100%;
      &:checked,
      &:hover,
      &:focus {

        + .custom-label {
          color: $customizable-base-text;
          &::before {
            background: $base-body-text;
            border-color: $base-body-text;
          }
        }
      }

      &:disabled,
      &.disabled {

        + .custom-label {
          text-decoration: none;
          &::after {
            opacity: 1;
          }
        }
      }
    }
  }
  &.custom-input--with-text {

    input[type="checkbox"],
    input[type="radio"] {
      top: 0;
      z-index: -1;
      width: 100%;
      height: 100%;
      &:checked {

        + .custom-label {

          .custom-label__img-holder {
            border-color: $base-body-text;
          }
        }
      }

      &:disabled,
      &.disabled {

        + .custom-label {
          text-decoration: none;

          .custom-label__img-holder {
            &::after {
              opacity: 1;
            }

            img {
              opacity: 0.6;
            }
          }
        }
      }
    }
  }
  &.custom-input--square-with-text {

    input[type="checkbox"],
    input[type="radio"] {
      top: 0;
      z-index: -1;
      width: 100%;
      height: 100%;
      &:checked {

        + .custom-label {
          text-decoration: none;

          .custom-label__check {
            background: $base-body-text;
            border-color: $base-body-text;
            &::after {
              opacity: 1;
            }
          }
        }
      }
      &:disabled,
      &.disabled {

        + .custom-label {
          text-decoration: none;

          .custom-label__check {
            background: #f7f7f7;
            border-color: $base-border;
          }
        }
      }
    }
  }
  &.custom-input--circle {

    input[type="checkbox"],
    input[type="radio"] {
      border-radius: 100%;
    }
  }

  input[type="checkbox"],
  input[type="radio"] {
    position: absolute;
    top: 3px;
    left: 0;
    z-index: 1;
    width: 16px;
    height: 16px;
    margin: 0;
    opacity: 0;
    cursor: pointer;
    &:checked {

      + .custom-label {
        &::before {
          background: $base-border;
        }
      }
    }
    &:disabled,
    &.disabled {
      cursor: default;
      pointer-events: none;

      + label {
        color: $base-secondary-text;
        text-decoration: line-through;
        text-decoration-color: $base-secondary-text;
        cursor: default;
        pointer-events: none;
      }
    }
  }
}

.custom-label {
  position: relative;
  padding: 0 0 0 23px;
  cursor: pointer;
  @include media("≥widescreen") {
    padding-left: 25px;
  }
  &::before {
    content: "";
    position: absolute;
    top: 3px;
    left: 0;
    width: 16px;
    height: 16px;
    background: $base-body-background;
    border: 1px solid $base-border;
    border-radius: 100%;
    transition: background-color $animation-speed ease, border-color $animation-speed ease;

    .custom-input--colors & {
      top: 0;
      width: 100%;
      height: 100%;
      background: none;
      border-color: $base-border;
      border-radius: 0;
    }

    .custom-input--colors-with-text &,
    .custom-input--square-with-text & {
      display: none;
    }

    .custom-input--size & {
      top: 0;
      width: 100%;
      height: 100%;
      background: none;
      border-color: $base-border;
      border-radius: 0;
    }

    .custom-input--circle & {
      border-radius: 100%;
    }
  }

  .custom-input--circle & {
    border-radius: 100%;

    > span:not(.custom-label__img-holder) {
      border-radius: 100%;
    }
  }

  .custom-input--colors & {
    display: block;
    box-sizing: border-box;
    width: 44px;
    height: 44px;
    padding: 3px;
    background: none;
    overflow: hidden;

    > span:not(.custom-label__img-holder) {
      display: block;
      width: 100%;
      height: 100%;
    }

    img {
      height: 100%;
      object-fit: cover;
    }

    picture {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 100%;
      height: 100%;
    }
  }

  .custom-input--colors &,
  .custom-input--size & {
    &::after {
      content: "";
      position: absolute;
      top: 50%;
      left: 0;
      z-index: 2;
      width: 1px;
      height: calc(100% + 16px);
      margin-top: -8px;
      background: $base-overlay-white;
      opacity: 0;
      transform: rotate(45deg) translateY(-50%);
    }
  }

  .custom-input--colors.custom-input--circle & {
    &::after {
      border-radius: 100%;
    }

    img {
      border-radius: 100%;
    }
  }

  .custom-input--colors-with-text & {
    padding: 0;
  }

  .custom-input--size & {
    @extend %body-medium;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    min-width: 44px;
    height: 44px;
    padding: 3px;
    background: none;
    border-color: $base-border;
    transition: color $animation-speed ease-in-out;
    overflow: hidden;
    &::after {
      background: $base-border;
    }

    > * {
      position: relative;
      z-index: 5;
    }

    span {
      text-transform: uppercase;
    }
  }

  .custom-input--square-with-text & {
    padding: 0;
  }

  .custom-input--colors.custom-input--sm &,
  .custom-input--size.custom-input--sm & {
    width: 24px;
    min-width: auto;
    height: 24px;
    padding: 2px;
    font-size: calc(#{$font-size-base} - 6px); // 10px
    &::after {
      height: calc(100% + 8px);
      margin-top: -4px;
    }
  }
}

.custom-label__check {
  position: relative;
  display: block;
  flex-shrink: 0;
  box-sizing: border-box;
  width: 24px;
  height: 24px;
  margin-right: 8px;
  border: 1px solid $base-border;
  transition: border-color $animation-speed ease-in-out, background-color $animation-speed ease-in-out;
  overflow: hidden;
  &::after {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    width: 12px;
    height: 6px;
    margin: -4px 0 0 -5px;
    border: 2px solid $customizable-base-text;
    border-width: 0 0 2px 2px;
    opacity: 0;
    transition: opacity $animation-speed ease-in-out;
    transform: rotate(-45deg);
  }
}

.custom-label__img-holder {
  position: relative;
  display: flex;
  flex-shrink: 0;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
  width: 24px;
  height: 24px;
  margin-right: 8px;
  padding: 1px;
  border: 1px solid $base-border;
  border-radius: 100%;
  transition: border-color $animation-speed ease-in-out;
  overflow: hidden;
  &::after {
    content: "";
    position: absolute;
    left: 11px;
    z-index: 2;
    width: 1px;
    height: 30px;
    background: $customizable-base-text;
    opacity: 0;
    transform: rotate(45deg);
  }

  img {
    border-radius: 100%;
  }
}

.page-search-form__button.page-search-form__button {
  min-width: $height-form-elements;
  min-height: $height-form-elements;
  margin-left: 12px;
  font-size: 0;
  line-height: 0;
  -webkit-border-radius: $form-element-border-radius;
  border-radius: $form-element-border-radius;
  @include media("≥desktop") {
    margin-left: 20px;
  }

  svg {
    width: 18px;
    height: 18px;
    margin: 0;
    fill: currentColor;
  }
}

.additional-checkout-buttons {

  [data-shopify-buttoncontainer] {

    div[role="button"] {
      width: 100%;
      height: 50px !important;
      border-radius: 0 !important;
      &:hover,
      &:focus {
        opacity: 0.8;
      }
    }
  }
}

#icButton {
  width: 100%;
  min-height: 50px !important;
  border-radius: 0 !important;

  .button {
    min-height: 50px !important;
    padding: 18px 10px 19px;
    &:hover,
    &:focus {
      opacity: 0.8;
    }
  }
}

.shopify-payment-button__button--unbranded.shopify-payment-button__button--unbranded {
  -webkit-appearance: none;
  box-sizing: border-box;
  min-width: 180px;
  min-height: $height-form-elements;
  padding: 12px 30px;
  font-family: $font-heading;
  line-height: 1;
  color: $dynamic-checkout-button-text;
  text-align: center;
  background: $dynamic-checkout-button-background;
  border: 1px solid $dynamic-checkout-button-border;
  -webkit-border-radius: $button-border-radius;
  border-radius: $button-border-radius;
  cursor: pointer;
  &:hover {
    color: $dynamic-checkout-button-text-on-hover !important;
    background: $dynamic-checkout-button-background-on-hover !important;
    border-color: $dynamic-checkout-button-border-on-hover !important;
  }
  &:focus {
    color: $dynamic-checkout-button-text-on-focus;
    background: $dynamic-checkout-button-background-on-focus;
    border-color: $dynamic-checkout-button-border-on-focus;
    outline: 1px dashed $dynamic-checkout-button-border-on-focus;
    outline-offset: 3px;
  }
  &.disabled {
    color: $dynamic-checkout-button-text-on-disabled;
    background: $dynamic-checkout-button-background-on-disabled;
    border-color: $dynamic-checkout-button-border-on-disabled;
    cursor: default;
    pointer-events: none;
  }
}
