// list reset
%listreset {
  margin: 0;
  padding: 0;
  list-style: none;
}

// clearfix
%clearfix {
  &::after {
    content: "";
    display: block;
    clear: both;
  }
}

.clearfix {
  @extend %clearfix;
}

// transition
%transition {
  transition: all 0.3s ease-in-out;
}

.sr-only {
  position: absolute;
  left: -9999px;
  visibility: hidden;
}

.accessibility {
  position: absolute;
  left: -100000px;
  top: auto;
  width: 1px;
  height: 1px;
  overflow: hidden;
  &:focus {
    position: static;
    width: auto;
    height: auto;
  }
}

.visually-hidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
  white-space: nowrap;
}

.text-md-left {
  @include media ("≥tablet") {
    text-align: left;
  }
}

.text-md-right {
  @include media ("≥tablet") {
    text-align: right;
  }
}

.text-right-sm {
  @include media("≥tablet", "<desktop") {
    text-align: right;
  }
}

.text-uppercase {
  text-transform: uppercase;
}

.d-xs-block {
  @include media ("≥phone") {
    display: block !important;
  }
}

.d-xs-inline-flex {
  @include media ("≥phone") {
    display: inline-flex !important;
  }
}

.customizable-base-text {
  color: $customizable-base-text;
}

.text-size-md {
  font-size: $font-size-base;
}

.text-size-sm {
  font-size: calc(#{$font-size-base} - 2px);
}

.text-white {
  color: #fff;
}
