html {
  box-sizing: border-box;
  @include media ("≥widescreen") {
    overflow:visible !important;
  }
}

*, *:before, *:after {
  box-sizing: inherit;
}

body {
  min-width: $base-min-width;
  color: $base-text-color;
  font-family: $font-body;
  font-weight: $font-body-weight;
  font-style: $font-body-style;
  font-size: $font-size-base;
  line-height: $base-line-height;
  letter-spacing:0.45px;
  background: $base-background-color;
  -moz-osx-font-smoothing: grayscale;
  @include media ("≥widescreen") {
    overflow:visible !important;
  }
}

body,
input,
textarea,
button,
select {
  -webkit-font-smoothing: antialiased;
  text-size-adjust: 100%;
}

// adaptive images
img {
  max-width: 100%;
  height: auto;
}

// google map fix
.gm-style img {max-width: none}

button,
a,
span.btn-more,
input[type="submit"],
input[type="reset"] {
  outline:none;
  @include animates;
}

// transition for svg
svg {
  transition: stroke $animation-speed ease,
  fill $animation-speed ease;
}
