html {
  box-sizing: border-box;
  scroll-behavior: smooth;
  @include media ("≥widescreen") {
    overflow: visible !important;
  }
  &.scroll-fix {
    padding-bottom: 0 !important;

    body {
      @include media ("≤1199px") {
        position: relative !important;
        overflow: hidden !important;
      }
    }
  }

  /**
  * Disable smooth scrolling when users have prefers-reduced-motion enabled
  */
  @media screen and (prefers-reduced-motion: reduce) {
    scroll-behavior: auto;
  }
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  min-width: $base-min-width;
  font-family: $font-body;
  font-size: $font-size-base;
  line-height: $base-line-height;
  font-weight: $font-body-weight;
  font-style: $font-body-style;
  color: $base-body-text;
  background: $base-background-color;
  -moz-osx-font-smoothing: grayscale;
  @include media ("≥widescreen") {
    font-size: calc(#{$font-size-base} + 2px);
    overflow: visible !important;
  }
}

body,
input,
textarea,
button,
select {
  -webkit-font-smoothing: antialiased;
  text-size-adjust: 100%;
}

// adaptive images
img {
  max-width: 100%;
  height: auto;
}

// google map fix
.gm-style img {
  max-width: none;
}

button,
a,
span.btn-more,
input[type="submit"],
input[type="reset"],
summary {
  @include animates;
  @media screen and (prefers-reduced-motion: reduce) {
    transition: none;
  }
}

// transition for svg
svg {
  transition: stroke $animation-speed ease-in-out, fill $animation-speed ease-in-out;
  @media screen and (prefers-reduced-motion: reduce) {
    transition: none;
  }
}
