/* stylelint-disable */
// Typography
/* stylelint-enable */
$font-heading: var(--font-heading);
$font-body: var(--font-body);
$font-body-weight: var(--font-body-weight);
$font-body-style: var(--font-body-style);
$font-heading-style: var(--font-heading-style);
$font-body-bold-weight: var(--font-body-bold-weight);
$font-heading-weight: var(--font-heading-weight);

// Base
$base-body-text: var(--color-body-text) !default;
$base-secondary-text: var(--base-secondary-text) !default;
$base-accent: var(--color-accent) !default;
$base-links: var(--base-links) !default;
$base-sale-price: var(--base-sale-price) !default;
$base-icons: var(--base-icons) !default;
$base-icons-on-hover: var(--base-icons-on-hover) !default;
$base-border: var(--base-border) !default;
$base-body-background: var(--color-main-background) !default;
$base-footer-background: var(--base-footer-background) !default;
$base-background: var(--base-background) !default;
$base-overlay-dark: var(--base-overlay-dark) !default;
$base-overlay-white: var(--base-overlay-white) !default;

// Messages
$messages-error: var(--messages-error) !default;
$messages-error-light: var(--messages-error-light) !default;
$messages-success: var(--messages-success) !default;
$messages-information: var(--messages-information) !default;

// Customizable
$customizable-base-text: var(--customizable-base-text) !default;

// Labels
$labels-sale-text: var(--labels-sale-text) !default;
$labels-sale-background: var(--labels-sale-background) !default;
$labels-soldout-text: var(--labels-soldout-text) !default;
$labels-soldout-background: var(--labels-soldout-background) !default;
$labels-new-text: var(--labels-new-text) !default;
$labels-new-background: var(--labels-new-background) !default;


// Other colors
$color-border: var(--color-border);
$black: #000;
$white: #fff;

$base-font-sans-serif: $font-body;
$base-font-serif: "Times New Roman", "Times", "Baskerville", "Georgia", serif;

// Body
$base-background-color: $base-body-background !default;
$font-size-base: var(--font-size-base);
$base-line-height: 1.5 !default;
$base-font-family: $base-font-sans-serif !default;

$vertical-rhythm: ($base-line-height * 1em);

$base-min-width: 320px;

// Links
$base-link-color: $base-links !default;

// Primary Buttons
$primary-button-text: var(--primary-button-text-color) !default;
$primary-button-text-on-hover: var(--primary-button-hover-text-color) !default;
$primary-button-text-on-focus: var(--primary-button-focus-text-color) !default;
$primary-button-border: var(--primary-button-border-color) !default;
$primary-button-border-on-hover: var(--primary-button-hover-border-color) !default;
$primary-button-border-on-focus: var(--primary-button-focus-border-color) !default;
$primary-button-background: var(--primary-button-background-color) !default;
$primary-button-background-on-hover: var(--primary-button-hover-background-color) !default;
$primary-button-background-on-focus: var(--primary-button-focus-background-color) !default;
$primary-button-text-on-disabled: var(--primary-button-text-on-disabled) !default;
$primary-button-border-on-disabled: var(--primary-button-border-on-disabled) !default;
$primary-button-background-on-disabled: var(--primary-button-background-on-disabled) !default;

// Secondary buttons
$secondary-button-text: var(--secondary-button-text-color) !default;
$secondary-button-text-on-hover: var(--secondary-button-hover-text-color) !default;
$secondary-button-text-on-focus: var(--secondary-button-focus-text-color) !default;
$secondary-button-border: var(--secondary-button-border-color) !default;
$secondary-button-border-on-hover: var(--secondary-button-hover-border-color) !default;
$secondary-button-border-on-focus: var(--secondary-button-focus-border-color) !default;
$secondary-button-background: var(--secondary-button-background-color) !default;
$secondary-button-background-on-hover: var(--secondary-button-hover-background-color) !default;
$secondary-button-background-on-focus: var(--secondary-button-focus-background-color) !default;
$secondary-button-text-on-disabled: var(--secondary-button-text-on-disabled) !default;
$secondary-button-border-on-disabled: var(--secondary-button-border-on-disabled) !default;
$secondary-button-background-on-disabled: var(--secondary-button-background-on-disabled) !default;

$button-padding: 12px 15px !default;
$button-font-size: inherit !default;
$button-border-radius: var(--button-border-radius) !default;

// Dynamic buttons
$dynamic-button-text: var(--dynamic-button-text-color) !default;
$dynamic-button-text-on-hover: var(--dynamic-button-hover-text-color) !default;
$dynamic-button-text-on-focus: var(--dynamic-button-focus-text-color) !default;
$dynamic-button-border: var(--dynamic-button-border-color) !default;
$dynamic-button-border-on-hover: var(--dynamic-button-hover-border-color) !default;
$dynamic-button-border-on-focus: var(--dynamic-button-focus-border-color) !default;
$dynamic-button-background: var(--dynamic-button-background-color) !default;
$dynamic-button-background-on-hover: var(--dynamic-button-hover-background-color) !default;
$dynamic-button-background-on-focus: var(--dynamic-button-focus-background-color) !default;
$dynamic-button-text-on-disabled: var(--dynamic-button-text-on-disabled) !default;
$dynamic-button-border-on-disabled: var(--dynamic-button-border-on-disabled) !default;
$dynamic-button-background-on-disabled: var(--dynamic-button-background-on-disabled) !default;

// Forms
$form-element-padding: $button-padding !default;
$form-element-border-color: #e5e5e5 !default;
$form-element-focus-border-color: #000 !default;
$placeholder-color: #999 !default;
$height-form-elements: 44px;
$height-button-large: 48px;
$height-button-medium: 40px;
$height-button-small: 32px;

// Headers
$headings-font-size: var(--heading-font-size);
$headings-font-weight: $font-heading-weight;
$headings-font-family: $font-heading !default;
$headings-color: inherit !default;

$h1-font-size: $headings-font-size !default;                 // 36px
$h2-font-size: calc(#{$headings-font-size} - 4px) !default;  // 32px
$h3-font-size: calc(#{$headings-font-size} - 10px) !default; // 26px
$h4-font-size: calc(#{$headings-font-size} - 14px) !default; // 22px
$h5-font-size: calc(#{$headings-font-size} - 16px) !default; // 20px
$h6-font-size: calc(#{$headings-font-size} - 20px) !default; // 16px
$h1-font-size-desktop: calc(#{$headings-font-size} + 10px) !default; // 46px
$h2-font-size-desktop: calc(#{$headings-font-size} + 4px) !default;  // 40px
$h3-font-size-desktop: $headings-font-size !default;                 // 36px
$h4-font-size-desktop: calc(#{$headings-font-size} - 4px) !default;  // 32px
$h5-font-size-desktop: calc(#{$headings-font-size} - 10px) !default; // 26px
$h6-font-size-desktop: calc(#{$headings-font-size} - 12px) !default; // 22px

$logo-width: var(--header-logo-width);

$animation-speed: 0.3s;
$menu-animation-speed: 0.2s;

// Grid variables
$grid-gutter-width: 32px;
