// Typography
$font-heading: var(--font-heading);
$font-body: var(--font-body);
$font-body-weight: var(--font-body-weight);
$font-body-style: var(--font-body-style);
$font-heading-style: var(--font-heading-style);
$font-body-bold-weight: var(--font-body-bold-weight);
$font-heading-weight: var(--font-heading-weight);

// Colors
$primary:       #000;
$secondary:     #a2aeb6;
$success:       #27ae60;
$info:          #0f62fe;
$danger:        #da1d28;
$light:         #f0f4f6;
$dark:          #262c30;
$black: #000;
$white: #fff;
$d-gray: $dark;
$gray: #999;
$l-gray: $light;

// Text colors
$color-body-text: var(--color-body-text);

// Background colors
$color-body: var(--color-main-background);

// Other colors
$color-accent: var(--color-accent);
$color-border: var(--color-border);

$base-font-sans-serif: $font-body;
$base-font-serif: 'Times New Roman', 'Times', 'Baskerville', 'Georgia', serif;

// Body
$base-text-color: $color-body-text !default;
$base-background-color: $color-body !default;
$font-size-base: var(--font-size-base);
$base-line-height: 1.5 !default;
$base-font-family: $base-font-sans-serif !default;

$vertical-rhythm: ($base-line-height * 1em);

$base-min-width: 320px;

// Liks
$base-link-color: $color-body-text;

// Buttons
$btn-color: var(--button-text-color) !default;
$btn-hover-color: var(--button-hover-text-color) !default;
$btn-focus-color: var(--button-focus-text-color) !default;
$btn-background: var(--button-background-color) !default;
$btn-hover-background: var(--button-hover-background-color) !default;
$btn-focus-background: var(--button-focus-background-color) !default;
$btn-border-color: var(--button-border-color) !default;
$btn-hover-border-color: var(--button-hover-border-color) !default;
$btn-focus-border-color: var(--button-focus-border-color) !default;
$btn-padding: 12px 15px !default;
$btn-font-size: inherit !default;

// Forms
$form-element-padding: $btn-padding !default;
$form-element-border-color: $black !default;
$form-element-focus-border-color: $d-gray !default;
$placeholder-color: $color-body-text !default;
$height-form-elements: 40px;
$height-button-large: 48px;
$height-button-medium: 40px;
$height-button-small: 32px;

// Headers
$headings-font-size: var(--heading-font-size);
$headings-font-weight: $font-heading-weight;
$headings-font-family: $font-heading !default;
$headings-color: inherit !default;

$h1-font-size: $headings-font-size !default; // 35px
$h2-font-size: $headings-font-size - 10px !default; // 25px
$h3-font-size: $headings-font-size - 15px !default; // 20px
$h4-font-size: $headings-font-size - 19px !default; // 16px
$h5-font-size: $headings-font-size - 21px !default; // 14px
$h6-font-size: $headings-font-size - 23px !default; // 12px


$animation-speed: 0.3s;
$menu-animation-speed: 0.2s;
